@charset "UTF-8";
/* -----------------------------------------------------------

クラスターページ用共通css

----------------------------------------------------------- */
.main {
  padding-bottom: 150px;
}
/* コンテンツ幅の設定 */
.wrapper {
  max-width: 1000px;
  width: 100%;
}
/* -----------------------------------------------------------

  クラスターページ用共通css

  ----------------------------------------------------------- */
/* コンテンツ幅の設定 */
.wrapper {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 30px;
}
/*-------------------------------------------
メインビジュアル
-------------------------------------------*/
#mainvisual {
  position: relative;
  width: 100%;
  height: 60vh;
  background-color: gray;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#mainvisual .mv-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}
#mainvisual .mv-content {
  color: white;
  text-align: center;
}
/* h1 */
#mainvisual .main-title {
  font-size: clamp(1.5rem, 0.6rem + 3.84vw, 3rem); /* 24 <-> 48 */
  margin: 0 10px;
  font-weight: bold;
  word-break: auto-phrase;
}
/*-------------------------------------------
概要
-------------------------------------------*/
.content-overview {
  background: var(--color-base);
  padding: 60px 15px;
  /* margin: 0 auto; */
}
/* リード文 */
.lead {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  font-weight: bold;
  /* font-size: clamp(1.125rem, 1.05rem + 0.32vw, 1.25rem); 18 <-> 20 */
  font-size: clamp(1rem, 0.925rem + 0.32vw, 1.125rem); /* 16 <-> 18  */
}
/* 目次 */
.index {
  padding: 30px 30px 60px;
  margin: 60px auto 30px;
  max-width: 800px;
  width: 100%;
  background: white;
  border: 1px solid var(--color-main);
  border-radius: 10px;
}
.index .page-index-title {
  text-align: center;
}
.index .page-index-title span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--color-main);
  font-size: var(--fz14);
  font-weight: 700;
  line-height: 1.5;
  padding: 0.5em 1.8em;
  background-color: #fff;
  border: 3px solid var(--color-main);
  border-radius: 999px;
  position: relative;
  margin-bottom: 30px;
  min-width: 126px;
}
.index .page-index-title span::after {
  content: "";
  position: absolute;
  width: 9px;
  aspect-ratio: 9/35;
  background-image: url("../img/label-switch.png");
  background-size: contain;
  background-repeat: no-repeat;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -20%);
}
.index .index-list {
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  font-size: clamp(1rem, 0.925rem + 0.32vw, 1.125rem); /* 16 <-> 18  */
  font-weight: 600;
  max-width: 100%;
}
.index .index-item {
  width: 100%;
}
.index .index-item a {
  display: flex;
  border-bottom: 2px dotted #ccc;
  padding: 1em 0;
}
.index .inner-list .inner-item {
  margin-left: 30px;
}
.index .link-num {
  color: var(--color-main);
  margin-right: -1rem;
  flex-shrink: 0;
}
.index .link-title {
  display: inline-block;
  margin-left: 1.5em;
}
/*-------------------------------------------
セクション共通パーツ
-------------------------------------------*/
.section {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0px 15px;
}
/*---------------
見出し
  - 大見出し：sec-title（h2）
  - 中見出し；sub-title（h3）
  - 小見出し：mid-title
  - 極小見出し；minor-title
---------------*/
/* 大見出し */
.sec-title {
  position: relative;
  font-size: clamp(1.5rem, 1.275rem + 0.96vw, 1.875rem); /* 24 <-> 30 */
  font-weight: bold;
  background: var(--color-main);
  color: white;
  padding: 1rem 1rem;
  margin: 2.5em -15px 1em;
  line-height: 1.4;
}
.sec-title:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  bottom: -10px;
  left: 1.5em;
  border-width: 10px 10px 0 10px;
  border-style: solid;
  border-color: var(--color-main) transparent transparent transparent;
}
/* 中見出し */
.sub-title {
  margin: 2.5em 0 1em;
  font-size: clamp(1.5rem, 1.275rem + 0.96vw, 1.875rem); /* 24 <-> 30 */
  color: var(--color-main);
  font-weight: bold;
  border-left: solid 10px var(--color-main);
  padding-left: 0.5em;
}
/* 小見出し */
.mid-title {
  margin: 2em 0 1em;
  font-size: clamp(1.125rem, 0.975rem + 0.64vw, 1.375rem); /* 18 <-> 22 */
  color: var(--color-main);
  font-weight: bold;
}
/* 極小見出し（caption） */
.minor-title {
  margin: 2em 0 0.5em;
  font-size: clamp(1rem, 0.85rem + 0.64vw, 1.25rem); /* 16 <-> 20 */
  font-weight: bold;
}
/* chevron（見出しの中で目立たせたい要素を囲む） */
.header-chevron {
  font-weight: bold;
  background: var(--color-main);
  color: white;
  padding: 0px 20px 0px 10px;
  margin: 0 10px 1rem -1rem;
  clip-path: polygon(0 0, calc(95% - 0.2em) 0, 100% 50%, 100% calc(50%), calc(95% - 0.2em) 100%, 0 100%);
  display: inline-block;
  text-align: center;
}
/* 画像 */
.picture {
  margin: 20px 0;
  width: 100%;
  max-width: 1000px;
  text-align: center;
}
/* 画像キャプション */
.pic-caption {
  font-weight: bold;
  margin-bottom: 10px;
  color: #666;
}
/* テキスト */
.desc {
  margin: 2em 0;
}
/* リスト（黒アイコン＋背景なし） */
.list {
  padding-left: 1.75em;
  padding-top: 20px;
  padding-bottom: 20px;
  padding: 20px 20px 20px 40px;
}
.list li {
  position: relative;
}
.list li::before {
  content: "";
  position: absolute;
  top: 0.75em;
  left: -0.75em;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-top: 0.25em solid transparent;
  border-bottom: 0.25em solid transparent;
  border-left: 0.5em solid var(--color-text);
}
/* リスト（赤アイコン＋背景グレー） */
.desc-list {
  padding-left: 1.75em;
  background: #eee;
  padding-top: 20px;
  padding-bottom: 20px;
  padding: 20px 20px 20px 40px;
}
.desc-list li {
  position: relative;
}
.desc-list li::before {
  content: "";
  position: absolute;
  top: 0.75em;
  left: -0.75em;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-top: 0.25em solid transparent;
  border-bottom: 0.25em solid transparent;
  border-left: 0.5em solid var(--color-main);
}
/* 定義リスト */
dl.data-list {
  margin: 20px 0;
  padding: 1em 2em;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}
dt {
  font-weight: bold;
  margin-top: 10px;
}
dd {
  margin: 0 0 10px 20px;
}
/* テーブルレイアウト */
table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  margin: 2em 0;
}
table th,
table td {
  border: 2px solid white;
  padding: 10px;
  background: #eee;
}
table th {
  background-color: #666;
  font-weight: bold;
  color: white;
}
/* 注意（赤い囲み） */
.box-attention {
  border: 4px solid var(--color-main);
  padding: 2em;
}
/*--------------------------------
内部リンク（ジモデン内のリンク）
---------------------------------*/
.local-link {
  position: relative;
  display: block;
  background: #e9f3ff;
  color: #00479d;
  text-decoration: underline;
  padding: 1em 1em 1em 2em;
  border-radius: 10px;
  font-size: clamp(1rem, 0.925rem + 0.32vw, 1.125rem); /* 16 <-> 18  */
  margin-top: 40px;
  font-weight: bold;
  border: 3px #b2cae7 solid;
}
.local-link::before {
  content: "";
  background: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 24 24"><path fill="%23b2cae7" d="M10.59,13.41C11,13.8 11,14.44 10.59,14.83C10.2,15.22 9.56,15.22 9.17,14.83C7.22,12.88 7.22,9.71 9.17,7.76V7.76L12.71,4.22C14.66,2.27 17.83,2.27 19.78,4.22C21.73,6.17 21.73,9.34 19.78,11.29L18.29,12.78C18.3,11.96 18.17,11.14 17.89,10.36L18.36,9.88C19.54,8.71 19.54,6.81 18.36,5.64C17.19,4.46 15.29,4.46 14.12,5.64L10.59,9.17C9.41,10.34 9.41,12.24 10.59,13.41M13.41,9.17C13.8,8.78 14.44,8.78 14.83,9.17C16.78,11.12 16.78,14.29 14.83,16.24V16.24L11.29,19.78C9.34,21.73 6.17,21.73 4.22,19.78C2.27,17.83 2.27,14.66 4.22,12.71L5.71,11.22C5.7,12.04 5.83,12.86 6.11,13.65L5.64,14.12C4.46,15.29 4.46,17.19 5.64,18.36C6.81,19.54 8.71,19.54 9.88,18.36L13.41,14.83C14.59,13.66 14.59,11.76 13.41,10.59C13,10.2 13,9.56 13.41,9.17Z" /></svg>') no-repeat center center;
  display: block;
  width: 60px;
  height: 60px;
  position: absolute;
  top: -30px;
  left: 0px;
}

/*--------------------------------
外部リンク（他サイト引用）
---------------------------------*/
.reference {
  position: relative;
  padding: 30px;
  border-radius: 15px;
  margin: 60px 0;
  border: 3px solid #ccc;
}
.reference::before {
  content: "";
  background: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 24 24"><path fill="%23cccccc" d="M10,7L8,11H11V17H5V11L7,7H10M18,7L16,11H19V17H13V11L15,7H18Z" /></svg>') no-repeat center center;
  display: block;
  width: 60px;
  height: 60px;
  position: absolute;
  top: -30px;
  left: 20px;
}
.reference .site-link {
  text-indent: -3em;
  padding-left: 3em;
}
.reference .site-link a {
  color: var(--color-main);
  text-decoration: underline;
  position: relative;
}
.reference .site-link a::after {
  content: "";
  background: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 24 24"><path fill="%23999999" d="M14,3V5H17.59L7.76,14.83L9.17,16.24L19,6.41V10H21V3M19,19H5V5H12V3H5C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V12H19V19Z" /></svg>') no-repeat center center;
  display: block;
  width: 1em;
  height: 1em;
  position: absolute;
  bottom: 0.25em;
  right: -1.25em;
}

/*--------------------------------
figure横並び
 - col2: 2列
 - col3: 3列
---------------------------------*/
.col-2,
.col-3 {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: flex-end;
}
.col-2 figure {
  flex: 0 1 calc((100% - 20px) / 2);
}
.col-3 figure {
  flex: 0 1 calc((100% - 40px) / 3);
}
@media (max-width: 767px) {
  .col-2,
  .col-3 {
    flex-direction: column;
  }
}

/*--------------------------------
この記事を書いた人
---------------------------------*/
.profile-card-container {
  padding: 30px 15px;
  margin: 0 auto;
}
.profile-content {
  border: 1px solid #333;
  border-radius: 10px;
  background-color: #fff;
  margin: 0 auto;
  padding: 30px;
  max-width: 1000px;
  text-align: center;
}
.profile-content .profile-heading {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 20px;
}
.profile-content .profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-content .profile-image {
  width: 100px;
  max-width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 15px;
  flex: 1 0 auto;
}
.profile-content .profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profile-content .profile-info {
  text-align: center;
}
.profile-content .profile-name {
  margin-top: 10px;
  font-weight: bold;
  font-size: 1.2em;
  color: var(--color-main);
}
.profile-content .profile-title {
  color: #666;
  font-size: 0.8em;
  margin: 5px 0;
  display: block;
}
.profile-content .profile-text {
  margin-top: 20px;
  font-weight: 400;
  font-size: 0.9375em;
  text-align: left;
}
@media screen and (min-width: 767px) {
  .profile-content {
    text-align: left;
  }
  .profile-content .profile-card {
    flex-direction: row;
    align-items: flex-start;
  }
  .profile-content .profile-title {
    display: inline-block;
    margin: 0 0 0 1em;
  }
  .profile-content .profile-info {
    margin-left: 20px;
    text-align: left;
  }
  .profile-content .profile-image {
    margin-bottom: 0;
  }
}
/*--------------------------------
utility
---------------------------------*/
/* テキスト強調 */
em {
  color: var(--color-main);
  font-weight: bold;
}
em > span {
  font-size: 1.8em;
}
strong {
  color: var(--color-main);
  font-weight: bold;
}
/* マーカー */
mark {
  background: #fff0b3;
}
/* 左寄せ */
.align-left {
  text-align: left;
}
/* 中央寄せ */
.align-center {
  text-align: center;
}
/* 背景カラー */
.bg-pink {
  background: #faeae9;
  padding: 2em;
  border-radius: 10px;
}
