@charset "utf-8";
/* CSS Document */
html {
  font-size: 62.5%;
  width: 100%;
}

@font-face {
  font-family: "Jost";
  font-weight: 500;
  font-display: swap;
  src: url("../../font/jostmedium.woff2") format("woff2"), url("../../font/jostmedium.woff") format("woff");
}
@font-face {
  font-family: "Jost";
  font-weight: 700;
  font-display: swap;
  src: url("../../font/jostbold.woff2") format("woff2"), url("../../font/jostbold.woff") format("woff");
}
@font-face {
  font-family: "Jost";
  font-weight: 300;
  font-display: swap;
  src: url("../../font/jostbolditalic.woff2") format("woff2"), url("../../font/jostbolditalic.woff") format("woff");
}
@font-face {
  font-family: "NotoSansJP";
  font-weight: 500;
  font-display: swap;
  src: url("../../font/NotoSansJP_Bold.woff2") format("woff2"), url("../../font/NotoSansJP_Bold.woff") format("woff");
}
@font-face {
  font-family: "NotoSansJP";
  font-weight: 700;
  font-display: swap;
  src: url("../../font/NotoSansJP_ExtraBold.woff2") format("woff2"), url("../../font/NotoSansJP_ExtraBold.woff") format("woff");
}
body {
  color: #333; /* RGB */
  font-family: "Jost", "NotoSansJP", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
  font-weight: 500;
  font-size: 1.6em;
  line-height: 2.4rem;
  text-align: center;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style: none;
}
a:hover {
  opacity: 0.7;
}
img {
  max-width: 100%;
  vertical-align: top;
}

/*common*/

.red {
  color: #b92225;
}

.jost {
  font-family: jost;
}
.italic {
  font-family: jost;
  font-weight: 300;
}
.left {
  display: block;
  text-align: left;
}

.center {
  display: block;
  text-align: center;
}
.br-point {
  display: none;
}
h3,
h4,
h5 {
  line-height: 1.7;
}

p {
  font-weight: 700;
  line-height: 1.5;
}

.height {
  line-height: 1.6;
}

.br-point {
  white-space: nowrap;
}

.spacing {
  letter-spacing: -0.1rem;
}
.nowrap {
  white-space: nowrap;
  display: inline-block;
}
.jimoden_btn .hover-red {
  background-color: #b92225;
  color: #ffffff;
  border: solid 2px #b92225;
}
.jimoden_btn .hover-red:hover {
  background-color: #ffffff;
  color: #b92225;
  transition: all 0.3s;
  opacity: 1;
  border: solid 2px #b92225;
}

/*FV*/

.top {
  padding: 48px 0 90px;
  background-color: #f7f7f7;
  font-weight: 700;
}

.fv-cp-wrap {
  width: 270px;
  margin: 0 auto;
  white-space: nowrap;
}

.fv_main_cp {
  display: inline-block;
  border-top: 3px solid #b92225;
  background-image: url("../../images/fukidashi_red_3.png");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 100%;
  padding: 0.4rem 0 2.4rem;
  line-height: 1.5em;
  letter-spacing: 0.2rem;
  font-weight: 700;
  font-size: 3.6rem;
}
.fv_main_cp2 {
  font-size: 2.6rem;
  padding-top: 30px;
  letter-spacing: 0.4rem;
  display: block;
}

.fv_main_cp3 {
  text-align: left;
}
.one {
  font-size: 2.2rem;
  padding-top: 30px;
  letter-spacing: 0.4rem;
  display: block;
}
.one .one-1 {
  font-family: jost;
  font-size: 3.2rem;
  letter-spacing: 0.5rem;
}
.price {
  font-size: 2.2rem;
  padding-top: 40px;
  display: block;
}
.price span {
  font-family: jost;
  font-weight: 500;
  font-size: 8.7rem;
  white-space: nowrap;
}

.price-small {
  color: #333;
  padding-top: 10px;
  text-align: right;
  display: block;
}

.top .plus {
  width: 40px;
  margin-top: -10px;
}

.switch-price-p {
  font-size: 3.2rem;
  letter-spacing: 0.6rem;
  padding-top: 20px;
}
.top-image-area {
  position: relative;
  width: 100%;
  margin-top: 50px;
}

.top-image-area .img1 {
  position: absolute;
  width: 15%;
  min-width: 50px;
  max-width: 120px;
  left: 5%;
  top: -2.5em;
  z-index: 2;
}
.top-image-area .img2 {
  width: 100%;
  max-width: 490px;
  padding-left: 30px;
}
.img3.dot {
  width: 100px;
  display: block;
  position: absolute;
  left: 15px;
  bottom: -30px;
}
.top-red-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  position: absolute;
  bottom: 40px;
  left: 8%;
  z-index: 9;
}
.point {
  font-size: 2.1rem;
  transform: rotate(-6deg);
  width: fit-content;
  margin: 0 0 10px 38px;
  font-weight: 300;
}
.pro {
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  background-color: #fff;
  display: inline-block;
  padding: 0.5em 1.8em;
  border: 3px solid #b92225;
  border-radius: 100px;
  position: relative;
  width: fit-content;
  margin-bottom: 35px;
}
.pro::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 16px;
  background-color: #b92225;
  bottom: -10px;
  left: 50%;
  margin-left: -1.5px;
}
.pro::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  border: 3px solid #b92225;
  bottom: -25px;
  left: 50%;
  margin-left: -4.5px;
}
.red-title {
  text-align: left;
  font-size: 1.8rem;
  color: #fff;
  letter-spacing: 0.2rem;
}

.red-title span {
  background-color: #b92225;
  display: inline-block;
  padding: 4px 8px;
}
.red-title span:nth-of-type(2) {
  margin-top: 10px;
}

@media (min-width: 800px) {
  .fv-cp-wrap_pc {
    display: flex;
    align-items: flex-end;
    margin: 0 auto;
  }
  .top-pc-wrap {
    display: flex;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
    width: 90%;
  }
  .top .br-point {
    display: inline;
  }
  .top-image-area {
    width: 35%;
  }
  .top .plus {
    margin: 0 10px 20px;
  }
  .switch-price-p {
    line-height: 1.3;
    white-space: nowrap;
    padding-bottom: 5px;
  }
  .red-title span {
    white-space: nowrap;
  }
}

/*need help*/
.switch-help {
  width: 90%;
  margin: 0 auto;
  padding: 30px 0;
}
.red-dot {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto 20px auto;
}
.red-dot img {
  width: 35px;
  height: 35px;
}
.question {
  color: #666;
}
.trouble-wrap {
  width: 85%;
  margin: 0 auto;
  max-width: 420px;
}
.trouble-wrap img {
  width: 100%;
}

.trouble-wrap p {
  width: 100%;
  position: relative;
  text-align: center;
  color: #fff;
  background-color: #666;
  padding: 6px 0 12px;
  border-radius: 15px;
  margin-top: -5px;
}

.trouble-wrap p::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 16px;
  background-color: #666;
  bottom: -10px;
  left: 87%;
  margin-left: -1.5px;
}
.trouble-wrap p::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  border: 3px solid #666;
  bottom: -25px;
  left: 87%;
  margin-left: -4.5px;
}

.top-p {
  line-height: 2;
}

.explanation {
  position: relative;
  margin: 80px auto 0;
  padding: 50px 0;
  background-color: #efefef;
  border-radius: 15px;
}
.switch-help h3 {
  margin: 15px 0 60px 0;
  font-size: 2.2rem;
}
.explanation h4 {
  text-align: left;
  font-size: 2rem;
  width: 85%;
  margin: 15px auto 0;
  letter-spacing: 0.2rem;
}

.question-list {
  text-align: left;
  font-weight: 700;
}
.switch-help .question-list {
  margin-top: 60px;
}
.question-list.man {
  position: relative;
  margin: 65px auto 0;
  max-width: 630px;
}

.check li {
  position: relative;
  width: 80%;
  margin: 0 auto;
  padding: 12px 40px 15px;
  background-color: #fff;
  border-radius: 20px;
  line-height: 1.7;
  margin-bottom: 20px;
}
.check li::before {
  content: "";
  position: absolute;
  top: -12px;
  left: -12px;
  width: 30px;
  height: 30px;
  background-color: #b92225;
  background-image: url(../../images/check_white.png);
  border-radius: 50px;
  background-size: 45%;
  background-position: center;
  background-repeat: no-repeat;
}
.question-list img {
  position: absolute;
  right: 16px;
  transform: scaleX(-1);
  width: 50px;
  bottom: 220px;
}
.index {
  width: 90%;
  margin: 0 auto;
}
.index_ttl {
  display: flex;
}
.red-flag {
  display: inline-block;
  color: #fff;
  background-color: #b92225;
  padding: 5px 10px;
  border-radius: 0 0 15px;
  font-size: 1.4rem;
  margin-bottom: 20px;
  margin-right: 1rem;
  position: relative;
}
.index_ttl .index-p {
  padding: 0.4em 2em 0.5em 2.5em;
}
.index_ttl .index-p::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #fff;
  left: 1em;
  top: 50%;
  margin-top: -2.5px;
}
.dot_line {
  content: "";
  background-image: radial-gradient(#ccc 30%, transparent 30%);
  background-size: 8px 8px;
  background-repeat: repeat-x;
  width: 100%;
  height: 8px;
  display: inline-block;
}
.dot_line_answer_5 {
  content: "";
  background-image: radial-gradient(#ccc 30%, transparent 30%);
  background-size: 8px 8px;
  background-repeat: repeat-x;
  width: 100%;
  height: 8px;
  display: inline-block;
  margin: 10px 0 40px;
}
.dot_line.deep {
  background-image: radial-gradient(#707070 30%, transparent 30%);
}

.index h3 {
  font-size: 2.4rem;
  text-align: left;
  margin: 30px 0 50px;
}

.index ol {
  margin-bottom: 80px;
}

.index ol li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 2rem;
  font-weight: 700;
  text-align: left;
  margin-top: 20px;
}

.index ol li p {
  padding-right: 40px;
  line-height: 1.5;
}

.index ol li div {
  display: flex;
  width: 100%;
  position: relative;
  margin-bottom: 8px;
}

.index ol li p::before {
  content: "";
  position: absolute;
  bottom: 30px;
  right: 8px;
  transform: translateY(6px) rotate(45deg);
  width: 12px;
  height: 2px;
  background-color: #333;
}

.index ol li p::after {
  content: "";
  position: absolute;
  bottom: 30px;
  right: 0;
  transform: translateY(6px) rotate(-45deg);
  width: 12px;
  height: 2px;
  background-color: #333;
}

.index ol li .numbers {
  margin-right: 20px;
  font-size: 2.2rem;
  padding: 20px 0;
}
.index .pc-wrap .index-answer {
  padding: 10px 0;
}
.index .pc-wrap a:hover {
  color: #b92225;
  opacity: 1;
}

@media (min-width: 800px) {
  .switch-help.first-section .explanation {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .question-list img {
    bottom: -20px;
    right: 20px;
  }
  .explanation h4 {
    width: 90%;
    padding-left: 10px;
  }
  .check li {
    width: 90%;
  }
  .first-section .check ul {
    padding-right: 10px;
  }
  .index {
    max-width: 1000px;
    margin: 50px auto;
  }
  .index .pc-wrap {
    max-width: 800px;
    margin: 0 auto;
  }
  .switch-help h3 {
    font-size: 5rem;
  }
  .index h3 {
    font-size: 4rem;
  }

  .index ol li p::before {
    top: 0;
    bottom: 5px;
    margin: auto 0;
  }

  .index ol li p::after {
    top: 0;
    bottom: 5px;
    margin: auto 0;
  }
  .index .pc-wrap .index-answer {
    padding: 20px 0;
  }
}

/*section answer*/
@media (min-width: 800px) {
  .answer {
    max-width: 1000px;
  }
  .answer h4 {
    margin-bottom: 15px;
    font-size: 3.2rem;
  }
}
/*01*/

.answer {
  width: 90%;
  margin: 40px auto 80px;
  padding-top: 40px;
}
.title-wrap {
  background-color: #efefef;
  padding: 30px 20px;
  border-radius: 20px;
  margin-bottom: 50px;
}

.number-line {
  display: flex;
  align-items: center;
}
.number {
  font-size: 2.2rem;
}

.line {
  background-color: #ccc;
  width: 100%;
  height: 2px;
  display: inline-block;
  margin-left: 20px;
}

.answer h3 {
  text-align: left;
  font-size: 2.4rem;
  margin-top: 20px;
}

.point-f {
  display: block;
  font-size: 1.5rem;
  width: 80px;
}

.answer h4 {
  font-size: 2.2rem;
  letter-spacing: -0.1rem;
  text-align: left;
  margin-bottom: 30px;
}

.ba-switch {
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
}

.point-list {
  margin: 50px 0 0;
}
.point-list li {
  background-color: #efefef;
  text-align: left;
  color: #333;
  font-weight: 700;
  line-height: 1.5;
  width: 90%;
  margin-right: 15px;
}

.point-explanation {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.under_explanation p {
  text-align: left;
  font-weight: 700;
  font-size: 1.6rem;
}

.under_explanation {
  margin: 50px auto;
}

.answer_1_point02 {
  margin-top: 50px;
}
#answer_1 .dot_line.pc {
  display: none;
}

@media (min-width: 800px) {
  #answer_1 .dot_line.pc {
    display: inline-block;
    margin-top: 80px;
  }
  #answer_4 .title-wrap {
    padding: 30px 8%;
    max-width: 1000px;
    margin: 0 auto;
  }
  .line {
    width: 20%;
  }
  .answer_1_point-wrap h4 {
    font-size: 2.1rem;
  }
  .answer_1_point_pc_wrap {
  }
  .point-list li {
    padding: 12px 10% 15px;
  }

  .flag-wrap {
    display: flex;
    align-items: flex-start;
  }
  .answer_1_point_pc_wrap .dot_line {
    content: "";
    background-image: radial-gradient(#ccc 30%, transparent 30%);
    background-size: 8px 8px;
    display: inline-block;
    width: 90%;
  }
  .answer_1_point_pc_wrap .answer_1_point-wrap {
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin: 30px 0 50px;
  }
  .answer_1_point_pc_wrap .answer_1_point-wrap div {
    width: 37%;
    margin-top: 0;
  }
  .answer_1_point_pc_wrap .answer_1_point-wrap .point-list {
    margin: 13px 10px 0;
  }
  .answer_1_point_pc_wrap .answer_1_point-wrap .under_explanation {
    width: 27%;
  }
  .answer h3 {
    text-align: center;
    font-size: 4rem;
  }

  #answer_1 .pro {
    width: 135px;
  }
  .number-line {
    justify-content: center;
  }
}

/*02*/
#answer_2 h3 {
  letter-spacing: -0.1rem;
}

.answer .second-title {
  font-size: 2rem;
  margin-top: 30px;
  text-align: center;
}

.small {
  font-size: 1.3rem;
  margin-bottom: 30px;
  display: block;
}

.price_area {
  background-color: #efefef;
  padding: 40px 30px;
  border-radius: 20px;
}
.answer-price {
  font-size: 3.4rem;
  margin-bottom: 20px;
}

.red-circle {
  background-color: #b92225;
  border-radius: 50px;
  width: fit-content;
  padding: 0px 30px;
  color: #fff;
  margin: 0 auto 15px;
  line-height: 1.7;
}

.yen {
  font-size: 1.4rem;
  color: #333;
  font-family: "NotoSansJP";
}

.price_area .small {
  text-align: right;
  max-width: 255px;
  margin: 0 auto;
  line-height: 0;
}

.price_area img {
  width: 30px;
}

.paragraph_1 {
  margin-bottom: 15px;
}
.paragraph_2 {
  margin: 5px 0 15px;
}
.paragraph_3 {
  margin-top: 10px;
}
.price_area .des {
  text-align: left;
  width: fit-content;
  margin: 0 auto;
  line-height: 1.7;
}

.price_area h5 {
  font-size: 2.4rem;
}

.cost-area {
  text-align: left;
}

.switch-ttl {
  position: relative;
  text-align: left;
  padding-left: 20px;
}

.switch-ttl::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 45px;
  background-color: #b92225;
  top: 0px;
  left: 0;
  margin-left: -1.5px;
}
.switch-ttl::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  border: 3px solid #b92225;
  top: 50px;
  left: 0;
  margin-left: -4.5px;
}

.switch-ttl-wrap {
  position: relative;
  margin: 80px 0 50px;
}

.switch-ttl-wrap span {
  font-size: 8rem;
  color: #f7f7f7;
  position: absolute;
  top: 30px;
  right: 0;
  z-index: -1;
}
.switch-ttl-wrap .min {
  font-size: 6.5rem;
  top: inherit;
  bottom: 0;
  right: 20px;
}

.cost-area ul {
  display: flex;
  margin: 30px auto 80px;
  flex-wrap: wrap;
}

.cost-area ul li {
  margin-bottom: 20px;
  background-color: #f7f7f7;
  border-radius: 25px;
  padding: 25px;
  width: 100%;
}

.cost-area ul li img {
  width: 100%;
}

.cost-area ul li h5 {
  border-left: 4px solid #b92225;
  padding-left: 10px;
  margin: 10px 0 10px 10px;
  font-size: 1.6rem;
}

.cost-area ul li p {
  padding: 0 10px;
  font-size: 1.3rem;
  font-weight: 500;
  margin-top: 20px;
}

.cost-area ul li p .pc {
  display: inline-block;
  margin-top: 30px;
}
@media (min-width: 800px) {
  .pc-flex-wrap {
    display: flex;
  }
  .pc-flex-wrap .under_explanation {
    margin-left: 5%;
    margin-top: 0px;
  }
  .cost-area .pc-flex-wrap {
    align-items: center;
    margin: 80px 0;
    flex-direction: column;
  }
  .cost-area h4 {
    font-size: 3.2rem;
  }
  .cost-area .pc-flex-wrap p {
    text-align: center;
  }
  .switch-ttl-wrap {
    margin: 0 0 30px 0;
    width: 45%;
  }
  #answer_2 .switch-ttl-wrap {
    width: fit-content;
  }

  .switch-ttl {
    white-space: nowrap;
  }
  .cost-area ul {
    border: none;
    justify-content: space-between;
    width: 640px;
  }
  .cost-area ul li {
    width: 300px;
  }
  .cost-area ul li p {
    font-size: 1.8rem;
  }
  .cost-area ul li p .pc .red {
    font-size: 2rem;
  }

  #answer_2 h3 {
    font-size: 4rem;
  }
  .answer .second-title {
    font-size: 3.2rem;
  }

  .small {
    font-size: 1.6rem;
    margin-bottom: 50px;
    margin-left: 83px;
    display: block;
    text-align: left;
  }
  .switch-ttl::before {
    height: 60px;
  }
  .switch-ttl::after {
    top: 65px;
  }
  #answer_2 .switch-ttl::before {
    height: 45px;
  }
  #answer_2 .switch-ttl::after {
    top: 50px;
  }
  .cost-area ul li h5 {
    font-size: 2.2rem;
  }
}

/*03*/

#answer_3 .point-explanation {
  margin: 0 auto 10px;
  width: fit-content;
}

#answer_3 .point-explanation .pro::before,
#answer_3 .point-explanation .pro::after {
  left: 25%;
}

#answer_3 .question-list {
  margin-top: 50px;
}

#answer_3 ul {
  margin-top: 50px;
}
#answer_3 ul li {
  margin-top: 20px;
}
#answer_3 ul li p {
  width: 85%;
}

.answer-ul-wrap {
  position: relative;
  margin-bottom: 50px;
}
.answer-ul-wrap img {
  position: absolute;
  bottom: 0;
  right: 0;
  top: inherit;
  transform: none;
  width: 70px;
}

.answer_3_01,
.answer_3_02,
.answer_3_03 {
  text-align: left;
}

#answer_3 .des {
  margin-bottom: 10px;
}

#answer_3 .red-flag {
  margin-top: 30px;
}
.answer_3_01 .pad {
  padding: 5px 22px;
  margin-bottom: 20px;
}

.cv {
  margin-top: 50px;
}

.cv p {
  text-align: center;
  margin-bottom: 15px;
}

.cv_wrap {
  background-color: #efefef;
  padding: 50px 20px;
  border-radius: 20px;
  margin-bottom: 50px;
  margin: 20px 0 80px;
}

.cv_wrap_top {
  font-size: 2rem;
}

.cv_wrap .answer-price {
  margin-bottom: 10px;
}

.cv_wrap .line {
  width: 70%;
  margin: 10px auto 20px;
  display: block;
}

.tax {
  margin-left: 10px;
}

.cv_wrap .plus {
  width: 30px;
  display: block;
  margin: 0 auto;
}

.switch {
  font-size: 2.4rem;
  margin: 10px 0 40px;
}

.cv_wrap .jimoden_btn a {
  width: 200px;
  display: block;
  margin: 0 auto;
  padding: 15px 0;
  border-radius: 35px;
  background-color: #b92225;
  color: #fff;
  margin-top: 25px;
  padding-left: 30px;
}

.answer_3_03 .switch-ttl .ls {
  font-size: 2.2rem;
  color: #b92225;
  position: initial;
}
@media (min-width: 800px) {
  .answer_3_01 {
    margin: 80px 0 40px;
  }
  .answer_3_02 {
    margin: 40px 0;
  }
  #answer_3 .switch-ttl-wrap {
    width: 100%;
  }
  #answer_3 .question-list {
    max-width: 565px;
    margin: 0 auto;
  }
  #answer_3 .des {
    margin-top: 95px;
  }
  #answer_3 .pc-flex-wrap .pc-wrap {
    margin-right: 5%;
    max-width: 500px;
  }
  .cv {
    margin-top: 80px;
  }
  .cv_wrap {
    max-width: 565px;
    margin: 0 auto;
  }
  .pc-wrap2 {
    width: 43%;
  }
  .answer_3_03 {
    margin: 40px 0;
  }
  .answer_3_03 .switch-ttl .ls {
    letter-spacing: -0.3rem;
    font-size: 3.2rem;
  }

  .cv_wrap .jimoden_btn a {
    width: 200px;
    display: block;
    margin: 0 auto;
    padding: 15px 0;
    border-radius: 35px;
    background-color: #b92225;
    color: #ffffff;
    margin-top: 25px;
    padding-left: 40px;
  }
  .cv_wrap .jimoden_btn a::after {
    background-image: url("../../images/btn-arrow-w.png");
    margin-left: 20px;
  }

  .cv_wrap .jimoden_btn a:hover {
    background-color: #ffffff;
    color: #b92225;
    border: solid 2px #b92225;
  }
  .cv_wrap .jimoden_btn a:hover::after {
    background-image: url("../../images/button_arrow_red.png");
    transition: all 0.3s;
  }
  #answer_3 h4 {
    font-size: 3.2rem;
  }
}
@media (max-width: 860px) {
  .answer_3_03 .switch-ttl .br-point {
    display: inline;
  }
}
@media (max-width: 800px) {
  .answer_3_03 .switch-ttl .br-point {
    display: none;
  }
}

/*04*/

#answer_4 .switch-help {
  width: 100%;
}
#answer_4 .switch-help h3 {
  text-align: center;
}

#answer_4 {
  text-align: left;
  width: 100%;
}
.width90 {
  width: 90%;
  margin: 0 auto;
  display: block;
}

#answer_4 .top-des {
  margin: 30px auto 50px;
  width: fit-content;
}

.cause-area h4 {
  display: block;
  text-align: center;
}

.cause-area img {
  transform: none;
  top: -70px;
}

.cause-area ul li span {
  display: block;
  width: fit-content;
  margin-left: auto;
  font-size: 1.3rem;
  text-align: right;
  border-bottom: solid 1px #333;
}

.cause-area ul li span a::after {
  content: "";
  width: 1.2rem;
  height: 1.2rem;
  display: inline-block;
  background-image: url(../../images/btn-arrow.png);
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-bottom: 3px;
  margin-left: 2px;
}

.cause-area ul li span a:hover {
  color: #b92225;
  opacity: 1;
}

.cause-area ul li span a:hover::after {
  background-image: url("../../images/button_arrow_red.png");
}

.cause-area ul li::before {
  background-image: none;
  text-align: center;
  color: #fff;
  font-family: jost;
}
.cause-area ul .li_1::before {
  content: "1";
}
.cause-area ul .li_2::before {
  content: "2";
}
.cause-area ul .li_3::before {
  content: "3";
}
.cause-area ul .li_4::before {
  content: "4";
}
.cause-area ul .li_5::before {
  content: "5";
}

.attention {
  font-size: 1.3rem;
}

.explanation.cause-area {
  width: 100%;
  border-radius: 0;
}

.cause-area .switch-ttl-wrap {
  margin: 100px 0 50px;
}

.cause-area .switch-ttl {
  text-align: left;
  position: relative;
  z-index: 2;
}
.cause-area .switch-ttl-wrap span {
  z-index: 0;
  color: #e0e0e0;
}

.exchange-area img {
  width: 70%;
}

.exchange-area p {
  text-align: left;
  margin: 30px 0 50px;
}

.cause-area .point-explanation {
  width: fit-content;
  margin: 0 auto;
}

.cause-area .chk li::before {
  background-image: url("../../images/check_white.png");
}
.cause-area .chk li:last-child {
  margin-bottom: 40px;
}

.summary2 .m-ttl {
  font-size: 2rem;
}

.summary2 .local {
  margin: 30px 0;
}
.summary2 .local li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}
.summary2 .local li p {
  width: 85%;
  text-align: left;
  margin-left: 10px;
}

#answer_5 .switch-ttl-wrap {
  /*margin: 40px 0 50px;*/
  margin: 0;
}

.summary2 .city {
  margin: 30px 0;
}
.summary2 .city li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}
.summary2 .city li p {
  width: 85%;
  text-align: left;
  margin-left: 10px;
}

.red-check {
  content: "";
  width: 30px;
  height: 30px;
  background-color: #b92225;
  background-image: url(../../images/check_white.png);
  border-radius: 50px;
  background-size: 45%;
  background-position: center;
  background-repeat: no-repeat;
}

.summary2 .caution {
  margin-bottom: 50px;
}

.summary2 .cv_wrap {
  margin-bottom: 40px;
  text-align: left;
}

.caution-area {
  background-color: #fff;
  border-radius: 20px;
  padding: 20px 15px;
  font-weight: 700;
  text-align: left;
}

.caution-area li {
  line-height: 2;
}

.summary3 {
  text-align: left;
}

.summary3 li {
  padding: 0;
  background-color: #fff;
  width: 100%;
  margin-right: 0;
}
.summary3 li p {
  background-color: #efefef;
  text-align: left;
  color: #333;
  font-weight: 700;
  line-height: 1.5;
  padding: 12px 25px 15px;
  border-radius: 25px;
}

.summary3 ul li img {
  width: 100%;
  margin-top: 20px;
}
.summary3 ul .no-li {
  background-color: #fff;
  padding: 0;
}
.summary3 ul .no-li::before {
  content: none;
}
#answer_4 .switch-ttl .nowrap {
  font-size: 2.2rem;
  position: static;
  color: #b92225;
  display: inline-block;
}
.summary3 .switch-ttl .nowrap {
  font-size: 2.2rem;
  position: static;
  color: #b92225;
  display: inline-block;
}
.summary1 {
  margin-bottom: 40px;
}
.exchange-area .dot_line {
  display: none;
}
#answer_5 .title-wrap {
  margin-bottom: 80px;
}

.cause-area .switch-ttl-wrap {
  padding-top: 100px;
  margin: 0px auto 50px;
  width: 90%;
}

.exchange-area .pc-wrap2 {
  padding-top: 100px;
  margin-top: -100px;
}
.summary1 .switch-ttl-wrap .ws {
  font-size: 2.2rem;
  color: #b92225;
  position: static;
  white-space: nowrap;
}

@media (min-width: 800px) {
  #answer_4 {
    max-width: 100%;
  }
  #answer_4 .switch-ttl .nowrap {
    font-size: 3.2rem;
    position: static;
    color: #b92225;
    display: block;
  }
  .cause-area img {
    top: -80px;
  }
  .cause-area .switch-ttl-wrap {
    margin: 40px auto 60px;
    padding-top: 60px;
    width: fit-content;
  }
  .cause-area .switch-ttl {
    font-size: 3.2rem;
    padding-left: 20px;
  }
  .cause-area .switch-ttl::before {
    top: 10px;
    height: 90px;
  }
  .cause-area .switch-ttl::after {
    top: 105px;
  }
  .cause-area .switch-ttl-wrap span {
    top: 150px;
    right: -25px;
  }
  .cause-area .point-explanation {
    margin: 0;
  }

  .exchange-area {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 50px auto 0;
    max-width: 1000px;
  }
  .exchange-area .dot_line {
    display: block;
    background-repeat: repeat-y;
    width: 8px;
    height: 650px;
  }
  .exchange-area .pc-wrap {
    width: 46%;
    text-align: left;
  }
  .exchange-area .pc-wrap2 {
    width: 46%;
    padding-top: 60px;
    margin-top: -60px;
  }

  #answer_5 .pc-flex-wrap {
    justify-content: space-between;
  }
  #answer_5 h4 {
    font-size: 3.2rem;
    white-space: normal;
  }
  #answer_5 h4.ws {
    white-space: nowrap;
  }
  .summary3 .switch-ttl .nowrap {
    font-size: 3.2rem;
  }
  .summary1 {
    margin-bottom: 50px;
  }
  .summary1 .switch-ttl-wrap .ws {
    font-size: 3.2rem;
    white-space: nowrap;
  }
  .summary2 .switch-ttl-wrap {
    width: 45%;
    position: relative;
    margin: 50px 0 50px;
  }

  .summary2 .pc-flex-wrap {
    display: block;
  }
  .summary2 .cv_wrap.b-point {
    background-color: #efefef;
    padding: 50px 20px;
    border-radius: 20px;
    margin: 20px auto 80px;
  }
  .summary2 {
    margin-top: 50px;
  }
  .summary3 {
    margin-top: 50px;
  }

  .summary3 ul {
    display: flex;
    margin-right: 0;
    justify-content: space-between;
  }
  .summary3 li {
    margin: 0;
    width: 46%;
  }

  .right-p {
    width: 45%;
  }
  .switch-ttl-wrap .pc-sp,
  .switch-ttl-wrap .min {
    font-size: 8rem;
    top: 58px;
    right: 0px;
  }
}

@media (min-width: 1000px) {
  .summary2 .pc-flex-wrap {
    display: flex;
    justify-content: space-between;
    margin: 100px 0 80px;
  }
  .summary2 .pc-flex-wrap .cv_wrap:nth-of-type(2n) {
    margin: 0 2%;
  }
  .summary2 .cv_wrap {
    width: 33%;
    max-height: 563px;
  }
}
#scroll-top {
  position: fixed;
  text-align: center;
  cursor: pointer;
  z-index: 99;
  width: 30px;
  height: 30px;
  line-height: 2.1;
  color: #ffffff;
  border-radius: 2px;
  content: "";
  background-color: #333333;
  font-size: 0.9375rem;
  bottom: 20px;
  right: 20px;
  opacity: 0;
}

.arrow-wrap {
  position: relative;
  width: 100%;
  height: 100%;
}
.arrow-wrap .border_1 {
  content: "";
  width: 15px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  transform: rotateZ(-45deg);
  bottom: 14px;
  left: 3px;
}

.arrow-wrap .border_2 {
  content: "";
  width: 15px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  transform: rotateZ(45deg);
  bottom: 14px;
  right: 3px;
}

#scroll-top.UpMove {
  animation: UpAnime 0.5s forwards;
}
@keyframes UpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#scroll-top.DownMove {
  animation: DownAnime 0.5s forwards;
}
@keyframes DownAnime {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(100px);
  }
}

@media (min-width: 800px) {
  #scroll-top {
    position: fixed;
    text-align: center;
    cursor: pointer;
    z-index: 99;
    width: 30px;
    height: 30px;
    line-height: 2.1;
    color: #ffffff;
    border-radius: 2px;
    content: "";
    background-color: #333333;
    font-size: 0.9375rem;
    bottom: 50px;
    right: 50px;
  }

  .arrow-wrap {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .arrow-wrap .border_1 {
    content: "";
    width: 15px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    transform: rotateZ(-45deg);
    bottom: 14px;
    left: 3px;
  }

  .arrow-wrap .border_2 {
    content: "";
    width: 15px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    transform: rotateZ(45deg);
    bottom: 14px;
    right: 3px;
  }
}
