# OSの不要ファイル
.DS_Store
Thumbs.db

# フォントキャッシュ（Adobe系）
AdobeFnt*.lst

# サーバー設定系
.user.ini

# VS Code（Visual Studio Code）のワークスペース設定ファイル
local.code-workspace

# ジモカン
fan.jimoden.jp/
market-price.jimoden.jp/
fan.jimoden.jp_20250311/