@charset "UTF-8";
/* -----------------------------------------------------------

全ページ共通css

----------------------------------------------------------- */
/*-------------------------------------------
custom property
-------------------------------------------*/
:root {
  /* フォントサイズ*/
  --fz28: calc(28 / 16 * 1rem);
  --fz26: calc(26 / 16 * 1rem);
  --fz24: calc(24 / 16 * 1rem);
  --fz22: calc(22 / 16 * 1rem);
  --fz20: calc(20 / 16 * 1rem);
  --fz18: calc(18 / 16 * 1rem);
  --fz16: calc(16 / 16 * 1rem);
  --fz14: calc(14 / 16 * 1rem);
  --fz12: calc(12 / 16 * 1rem);
  --fz10: calc(10 / 16 * 1rem);
  /* MV見出し */
  --lfz22-mv: clamp(1.375rem, 0.55rem + 3.52vw, 2.75rem); /* 22→44 */
  /* 共通お問合せボタン */
  --lfz16-contact: clamp(1rem, 0.7rem + 1.28vw, 1.5rem); /* 16→24 */
  /* TOPコンテンツ見出し */
  --lfz22-sec-ttl: clamp(1.375rem, 1.075rem + 1.28vw, 1.875rem); /* 22→30 */
  /* TOPコンテンツサブ見出し */
  --lfz20-addordion-ttl: clamp(1.25rem, 1.025rem + 0.96vw, 1.625rem); /* 20→26 */
  /* TOPサンプル価格用 */
  --lfz11-smpl-cost: clamp(0.688rem, 0.35rem + 1.44vw, 1.25rem); /* 11→20 */
  /* 対応エリア */
  --lfz13-area: clamp(0.813rem, 0.625rem + 0.8vw, 1.125rem); /* 13→18 */
  /* color */
  --color-black: #333;
  --color-white: #fff;
  --color-main: #004986; /* ネイビー */
  --color-price: #f00; /* 赤*/
  --color-alert: #ea5550; /* 朱色*/
  --color-point: #d19800; /* 黄土色*/
  --color-line: #06c755; /* LINEの黄緑*/
  --color-base-light: #d9e4ed; /* 薄水色 */
  --color-base-mono: #eee; /* 薄グレー */
  --color-base-ref: #fff7e2; /* 薄黄色 */
}
/*-------------------------------------------
reset & common
-------------------------------------------*/
html {
  font-size: 100%;
  overflow-x: hidden;
}
body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  line-height: 1.4;
  overflow-x: hidden;
  font-size: var(--fz16);
  color: var(--color-black);
}
h1,
h2,
h3,
h4,
h5,
h6,
th {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
  word-wrap: break-word;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
a {
  text-decoration: none;
  color: #333;
  opacity: 1;
  transition: 0.3s;
}
@media (hover: hover) and (pointer: fine) {
  /*ホバーアクションはPCのみ適用*/
  a:hover {
    opacity: 0.7;
  }
}
li {
  list-style: none;
}
address {
  font-style: normal;
}
.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0px 15px;
}
@media screen and (min-width: 901px) {
  /* SPのみ改行 */
  .br-sp {
    display: none;
  }
}
/*--------------------------------
共通ヘッダー
---------------------------------*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  padding: 30px;
  background: var(--color-main);
  color: var(--color-white);
}
.header .header-logo-column {
  display: flex;
  align-items: center;
}
.header .header-logo {
  width: 50px;
}
.header .header-name {
  margin-left: 10px;
  color: var(--color-white);
  font-size: var(--fz28);
  font-weight: bold;
  /* 折り返し対応 */
  line-height: 1.7rem;
  max-width: calc(100vw - 1050px);
  word-break: break-word;
}
.header-btn-sp {
  display: none;
}
/* -----グローバルナビ----- */
.header .gnav-list {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  column-gap: 37px;
}
.header .gnav-item {
  font-size: var(--fz16);
  font-weight: bold;
  line-height: 1;
}
.header .gnavi-contact-tel a {
  display: block;
  height: 60px;
  padding: 0 20px;
  line-height: 60px;
  border-radius: 30px;
  text-align: center;
  background: var(--color-white);
  color: var(--color-main);
}
.header .gnavi-contact-line {
  margin-left: -17px;
}
.header .gnavi-contact-line a {
  display: block;
  height: 60px;
  padding: 0 20px;
  line-height: 60px;
  border-radius: 30px;
  text-align: center;
  background: var(--color-line);
  color: var(--color-white);
}
.header .gnav-link {
  color: var(--text-color);
  text-decoration: none;
}
.header .gnav-link--active {
  opacity: 0.6;
}
.header .btn-menu {
  display: none;
}
/* -----for PC----- */
@media screen and (min-width: 1366px) {
  .header .gnav {
    /* グロナビのリンクが消えないように */
    display: block !important;
  }
  .header .gnav-item:first-child {
    /* ホームへのリンクを消す */
    display: none;
  }
}
/* -----for tablet----- */
@media screen and (max-width: 1365px) {
  .header .header-name {
    max-width: calc(100vw - 620px);
  }
  .header .header-btn-sp {
    display: flex;
    position: absolute;
    right: 90px;
  }
  .header .header-name {
    margin-left: 10px;
    color: var(--color-white);
    font-size: var(--fz28);
    font-weight: bold;
    /* 折り返し対応 */
    max-width: calc(100vw - 620px);
  }
  .header .header-btn-tel,
  .header .header-btn-line {
    display: block;
    height: 60px;
    padding: 0 20px;
    line-height: 60px;
    border-radius: 30px;
    text-align: center;
    font-size: var(--fz16);
    font-weight: bold;
  }
  .header .header-btn-tel {
    background: var(--color-white);
    color: var(--color-main);
  }
  .header .header-btn-line {
    margin-left: 20px;
    background: var(--color-line);
    color: var(--color-white);
  }
  .header .gnav {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: var(--color-main);
  }
  .header .gnav-list {
    display: flex;
    flex-direction: column;
    padding: 90px 50px 50px;
    row-gap: 37px;
  }
  .header .gnavi-contact-tel,
  .header .gnavi-contact-line {
    width: 100%;
    max-width: 430px;
  }
  .header .gnavi-contact-line {
    margin-left: 0;
  }
  .header .gnav-link {
    color: #fff;
  }
  .header .gnav-link--active {
    opacity: 0.6;
  }
  .header .btn-menu {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    text-align: center;
    padding: 0 30px;
    border: none;
    outline: none;
    background: none;
    background-color: var(--color-main);
    cursor: pointer;
    appearance: none;
  }
  .header .btn-menu-hamburger {
    display: block;
    position: relative;
    left: 0;
    width: 100%;
    height: 2px;
    transition: all 0.4s;
    border-radius: 4px;
    background-color: #fff;
  }
  .header .btn-menu-hamburger::before,
  .header .btn-menu-hamburger::after {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    transition: inherit;
    border-radius: 4px;
    background-color: #fff;
  }
  .header .btn-menu-hamburger::before {
    top: -8px;
  }
  .header .btn-menu-hamburger::after {
    top: 8px;
  }
  .header .btn-menu.active .btn-menu-hamburger {
    background-color: transparent;
  }
  .header .btn-menu.active .btn-menu-hamburger::before,
  .header .btn-menu.active .btn-menu-hamburger::after {
    top: 0;
    background-color: #fff;
  }
  .header .btn-menu.active .btn-menu-hamburger::before {
    transform: rotate(45deg);
  }
  .header .btn-menu.active .btn-menu-hamburger::after {
    transform: rotate(-45deg);
  }
}
/* -----for SP----- */
@media screen and (max-width: 900px) {
  .header {
    height: 52px;
    padding: 20px;
  }
  .header .header-logo {
    width: 29px;
  }
  .header .header-name {
    font-size: var(--fz16);
    /* 折り返し対応 */
    max-width: calc(100vw - 220px);
    line-height: 1rem;
  }
  .header .header-btn-sp {
    right: 52px;
  }
  .header .header-btn-tel {
    display: block;
    overflow: hidden;
    width: 52px;
    height: 0;
    padding-top: 51px;
    border-radius: 0;
    background: url(../img/ico_tel.png) no-repeat center center;
    background-size: 46px 46px;
    background-color: var(--color-white);
    border-bottom: 1px solid var(--color-main);
  }
  .header .header-btn-line {
    display: block;
    overflow: hidden;
    width: 52px;
    height: 0;
    padding-top: 51px;
    border-radius: 0;
    background: url(../img/ico_line.png) no-repeat center center;
    background-size: 46px 46px;
    background-color: var(--color-line);
    margin-left: 0;
    border-bottom: 1px solid var(--color-main);
  }
  .header .btn-menu {
    width: 52px;
    height: 52px;
    padding: 0 12px;
  }
}
/*--------------------------------
共通フッター
---------------------------------*/
.footer {
  background: var(--color-main);
}
.footer a {
  color: var(--color-white);
}
.footer .footer-nav li {
  height: 45px;
  line-height: 45px;
}
.footer .footer-nav li a {
  display: block;
  padding: 0 15px;
  text-align: center;
}
.footer .footer-nav li:not(:first-child) {
  border-top: 1px solid var(--color-white);
}
.footer .footer-bottom {
  position: relative;
  overflow: hidden;
  height: 227px;
  text-align: center;
  padding: 25px 15px;
}
.footer .footer-bottom::after {
  content: "";
  background: url(../img/bg_mv.webp) center center no-repeat;
  background-size: cover;
  position: absolute;
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
  filter: blur(5px);
  mix-blend-mode: multiply;
  opacity: 0.75;
  z-index: 0;
}
.footer .footer-logo {
  position: relative;
  z-index: 1;
}
.footer .footer-logo a {
  color: var(--color-white);
  font-size: var(--fz24);
  display: inline-block;
}
.footer .footer-logo img {
  width: 29px;
}
.footer .footer-address {
  position: relative;
  color: var(--color-white);
  font-size: var(--fz14);
  margin-top: 15px;
  z-index: 1;
}
.footer .copyright {
  color: var(--color-white);
  font-size: var(--fz10);
  width: 100%;
  position: absolute;
  bottom: 10px;
  z-index: 1;
}
/* -----for PC----- */
@media screen and (min-width: 901px) {
  .footer .footer-nav {
    max-width: 1000px;
    margin: auto;
    padding: 15px 0;
    text-align: center;
  }
  .footer .footer-nav li {
    display: inline-block;
    border-top: none !important;
  }
}
/*-------------------------------------------
共通 - お問合せ
-------------------------------------------*/
.lead-contact {
  background: var(--color-base-mono);
  padding: 23px 0 53px;
  text-align: center;
}
.lead-contact .ttl {
  font-size: var(--fz18);
  font-weight: bold;
}
.lead-contact .ttl span {
  font-size: 1.5em;
}
.lead-contact .ttl::before,
.lead-contact .ttl::after {
  content: "";
  display: inline-block;
  height: 40px;
  width: 30px;
}
.lead-contact .ttl::before {
  clip-path: polygon(12% 32%, 85% 100%, 20% 22%);
  /* 鈍角三角形 */
  background: var(--color-main);
}
.lead-contact .ttl::after {
  clip-path: polygon(12% 32%, 85% 100%, 20% 22%);
  /* 鈍角三角形 */
  background: var(--color-main);
  transform: rotateY(180deg);
}
.lead-contact .btn-tel,
.lead-contact .btn-line {
  display: block;
  height: 60px;
  padding: 0 20px;
  line-height: 60px;
  border-radius: 50px;
  text-align: center;
  font-size: var(--lfz16-contact);
  font-weight: bold;
}
.lead-contact .btn-tel {
  background: var(--color-main);
  color: var(--color-white);
  margin-top: 15px;
}
.lead-contact .btn-line {
  background: var(--color-line);
  color: var(--color-white);
  margin-top: 15px;
}
/* -----for PC----- */
@media screen and (min-width: 901px) {
  .lead-contact .column {
    display: flex;
    justify-content: space-between;
  }
  .lead-contact .btn-tel,
  .lead-contact .btn-line {
    width: 49%;
    height: 100px;
    line-height: 100px;
  }
}
/*-------------------------------------------
共通 - TOPへ戻るボタン
-------------------------------------------*/
#to-top {
  width: 50px;
  height: 50px;
  background-color: var(--color-main);
  border-radius: 50%;
  position: fixed;
  right: 25px;
  bottom: 25px;
  z-index: 10;
  mix-blend-mode: multiply;
}
#to-top::after {
  content: "";
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #fff;
  position: relative;
  left: 17px;
  bottom: 3px;
}

.contact-tel {
	
}
