@charset "UTF-8";
/* -----------------------------------------------------------

下層ページ用css

----------------------------------------------------------- */
/*-------------------------------------------
下層ページ共通
-------------------------------------------*/
.contents {
  padding-top: 52px;
}
/* -----for PC----- */
@media screen and (min-width: 901px) {
  .contents {
    padding-top: 90px;
  }
}
/* メインタイトル */
.atcl-ttl {
  padding: 30px;
  text-align: center;
  color: var(--color-main);
}
.atcl-ttl .jp {
  font-weight: bold;
  font-size: var(--fz22);
}
.atcl-ttl .en {
  font-size: var(--fz16);
  margin-top: 10px;
}
/* サブタイトル */
.atcl-sub-ttl {
  background: var(--color-base-light);
  text-align: center;
  font-size: var(--fz20);
  font-weight: bold;
  padding: 11px 0;
}
/* サブタイトルのサブ */
.atcl-sub-ttl span {
  font-size: 0.7em;
  font-weight: normal;
  display: block;
  color: #666;
}
/* -----for PC----- */
@media screen and (min-width: 901px) {
  .atcl-ttl {
    padding-top: 50px;
  }
}
/*
対応エリア
-------------------------------------------*/
.coverage-area {
  padding: 0 15px 20px;
  margin: 0 auto;
}
.coverage-area .box {
  font-size: var(--lfz13-area);
  background: var(--color-white);
  border: 1px solid var(--color-main);
  padding: 0 15px 15px;
  border-radius: 15px;
  font-weight: bold;
}
.coverage-area .ttl {
  background: var(--color-main);
  color: var(--color-white);
  display: inline-block;
  border-radius: 30px;
  padding: 2px 10px;
  position: relative;
  left: calc(50% - 42px);
  top: -12px;
}
/* -----for PC----- */
@media screen and (min-width: 901px) {
  .coverage-area {
    border-radius: 30px;
    max-width: 1030px;
  }
  .coverage-area .box {
    padding-bottom: 30px;
    letter-spacing: -0.01em;
  }
}
/*
写真の案内
-------------------------------------------*/
.pic-guide .balloon {
  background: var(--color-base-ref);
  padding: 15px 25px 25px;
  margin: 15px auto;
  max-width: 1000px;
  border-radius: 15px;
}
.pic-guide .balloon::after {
  content: "";
  display: block;
  width: 48px;
  height: 20px;
  margin: -20px auto 0;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  background: var(--color-base-ref);
  position: relative;
  top: 45px;
}
.pic-guide .balloon .ttl {
  color: var(--color-point);
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pic-guide .balloon .ttl::before {
  content: " ";
  display: block;
  background: url(../img/ico_camera.png) no-repeat left 2px;
  background-size: 53px 53px;
  height: 53px;
  width: 53px;
  margin-right: 10px;
  position: relative;
  top: -10px;
}
.pic-guide .balloon .text {
  padding: 15px 10px 0;
}
/* -----for PC----- */
@media screen and (min-width: 901px) {
  .pic-guide .balloon .text {
    text-align: center;
  }
  .lead-line-friend,
  .pic-guide .balloon .ttl {
    font-size: var(--fz20);
  }
}
/*----- 写真の撮り方 -----*/
.pic-guide .howto-take-pics .text-lead span {
  font-weight: bold;
  color: var(--color-alert);
}
.pic-guide .howto-take-pics {
  background: var(--color-base-mono);
  margin: 30px auto 0;
  padding: 15px 15px 35px;
}
.pic-guide .howto-take-pics .ttl {
  font-weight: bold;
  font-size: var(--fz22);
  text-align: center;
  margin: 15px 0 20px;
}
.pic-guide .howto-take-pics .ttl span {
  font-weight: normal;
  font-size: var(--fz14);
  color: #666;
  display: block;
  margin-top: 5px;
}
/* -----for PC----- */
@media screen and (min-width: 901px) {
  /* 「タップすると開きます」を非表示 */
  .pic-guide .howto-take-pics .ttl span {
    display: none;
  }
}
/* アコーディオン */
.howto-take-pics .accordion-item {
  background: #fff;
  border: 1px solid var(--color-main);
  border-radius: 15px;
  max-width: 1000px;
  margin: 0 auto;
}
.howto-take-pics .accordion-item:not(:first-of-type) {
  margin-top: 15px;
}
.howto-take-pics .accordion-title {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 15px;
  font-size: var(--fz20);
  font-weight: bold;
  color: var(--color-main);
}
.howto-take-pics .accordion-title p {
  margin: 0 auto;
}
.howto-take-pics .accordion-content {
  padding: 15px;
  display: none;
  overflow: hidden;
}
.howto-take-pics .accordion-content .pic-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.howto-take-pics .accordion-content .pic-item {
  width: 48%;
  margin-top: 20px;
}
.howto-take-pics .accordion-content .pic-item .place {
  color: var(--color-main);
  font-weight: bold;
}
.howto-take-pics .accordion-content .pic-item .image {
  margin-top: 5px;
}
.howto-take-pics .accordion-content .pic-item .text {
  margin-top: 5px;
  font-size: var(--fz14);
}
.howto-take-pics .accordion-content .text-alert {
  color: var(--color-alert);
  margin-top: 30px;
  font-size: var(--fz14);
  padding-left: 0.875rem;
}
.howto-take-pics .accordion-content .text-alert p {
  text-indent: -0.678rem;
}
/* -----for PC----- */
@media screen and (min-width: 901px) {
  .howto-take-pics .accordion-item {
    border-radius: 30px;
    padding: 15px 0;
  }
  .howto-take-pics .toggle-mark {
    display: none;
  }
  .howto-take-pics .accordion-title {
    cursor: default;
  }
  .howto-take-pics .accordion-content {
    display: block !important;
    padding: 0 30px 30px;
  }
  .howto-take-pics .accordion-content .text-lead {
    text-align: center;
    margin: 20px 0;
  }
  .howto-take-pics .accordion-content .pic-item {
    width: 24%;
  }
  .howto-take-pics .accordion-item.toilet .pic-list {
    justify-content: space-around;
  }
}

/*-------------------------------------------
メールの『電話』のスタイルシートを全ページの施行担当者に反映するためのcssを追加しました（岸）
-------------------------------------------*/
 .contact-tel .tel-detail {
  display: flex;
  padding: 15px 15px 0;
  justify-content: center;
  align-items: center;
}
.contact-tel .tel-detail .staff .avatar img {
  border-radius: 50%;
  object-fit: cover;
  width: 29.3vw;
  height: 29.3vw;
  max-height: 200px;
  max-width: 200px;
}
 .contact-tel .tel-detail .staff .name {
  text-align: center;
  margin-top: 6px;
}
 .contact-tel .tel-detail .tel {
  margin-left: 15px;
}
.contact-tel .tel-detail .tel .number {
  font-weight: bold;
  font-size: 2rem; /* 32px */
  white-space: nowrap;
  text-decoration: none;
}
.contact-tel .btn-call-number {
  padding: 15px;
  max-width: 460px;
  margin: 0 auto;
}
.contact-tel .btn-call-number a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  font-weight: bold;
  text-align: center;
  line-height: 60px;
  border-radius: 30px;
  background: var(--color-main);
}
.contact-tel .btn-call-number a::before {
  content: "";
  background: url(../img/ico_call.png) no-repeat center center;
  height: 33px;
  width: 33px;
  background-size: 33px 33px;
  margin-right: 10px;
}
 .contact-mail {
  margin-top: 30px;
}
 .contact-mail .mail-detail {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1000px;
}
 .contact-mail .mail-detail p {
  margin-top: 15px;
}
/* -----for PC----- */
@media screen and (min-width: 901px) {
   .contact-tel .btn-call-number {
    display: none;
  }
  .contact-mail .mail-detail {
    text-align: center;
  }
}
/*





/*-------------------------------------------
mail.html
-------------------------------------------*/
#mail .contact-tel .tel-detail {
  display: flex;
  padding: 15px 15px 0;
  justify-content: center;
  align-items: center;
}
#mail .contact-tel .tel-detail .staff .avatar img {
  border-radius: 50%;
  object-fit: cover;
  width: 29.3vw;
  height: 29.3vw;
  max-height: 200px;
  max-width: 200px;
}
#mail .contact-tel .tel-detail .staff .name {
  text-align: center;
  margin-top: 6px;
}
#mail .contact-tel .tel-detail .tel {
  margin-left: 15px;
}
#mail .contact-tel .tel-detail .tel .number {
  font-weight: bold;
  font-size: 2rem; /* 32px */
  white-space: nowrap;
  text-decoration: none;
}
#mail .contact-tel .btn-call-number {
  padding: 15px;
  max-width: 460px;
  margin: 0 auto;
}
#mail .contact-tel .btn-call-number a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  font-weight: bold;
  text-align: center;
  line-height: 60px;
  border-radius: 30px;
  background: var(--color-main);
}
#mail .contact-tel .btn-call-number a::before {
  content: "";
  background: url(../img/ico_call.png) no-repeat center center;
  height: 33px;
  width: 33px;
  background-size: 33px 33px;
  margin-right: 10px;
}
#mail .contact-mail {
  margin-top: 30px;
}
#mail .contact-mail .mail-detail {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1000px;
}
#mail .contact-mail .mail-detail p {
  margin-top: 15px;
}
/* -----for PC----- */
@media screen and (min-width: 901px) {
  #mail .contact-tel .btn-call-number {
    display: none;
  }
  #mail .contact-mail .mail-detail {
    text-align: center;
  }
}
/*
問い合わせフォーム
-------------------------------------------*/
#mail .mail-form {
  max-width: 1000px;
  margin: 0 auto;
}
#mail .mail-form .title {
  font-size: var(--fz22);
  font-weight: bold;
  text-align: center;
  margin: 30px 0;
}
#mail .mail-form .form-wrap {
  padding: 0 15px;
}
#mail .mail-form table.formTable {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  text-align: left;
}
#mail .mail-form table.formTable tr {
  display: flex;
  flex-direction: column;
}
#mail .mail-form table.formTable th {
  font-size: var(--fz18);
  font-weight: bold;
  display: flex;
  align-items: center;
}
#mail .mail-form table.formTable th .rqrd {
  background-color: var(--color-alert);
  color: var(--color-white);
  font-size: var(--fz12);
  font-weight: normal;
  padding: 2px 6px;
  margin-left: 3px;
}
#mail .mail-form table.formTable th .limit {
  font-size: 0.875em;
  color: #666;
  margin-left: 5px;
  font-weight: normal;
}
#mail .mail-form table.formTable td {
  padding: 15px 0 30px;
  display: flex;
  align-items: center;
}

#mail .mail-form table.formTable input[type="text"],
#mail .mail-form table.formTable input[type="email"],
#mail .mail-form table.formTable input[type="tel"] {
  width: 100%;
  height: 60px;
  padding: 5px 10px;
  border-radius: 15px;
  border: 1px solid #666;
  box-sizing: border-box;
  line-height: 1;
}
#mail .mail-form table.formTable textarea {
  width: 100%;
  padding: 15px 10px;
  border-radius: 15px;
  border: 1px solid #666;
  box-sizing: border-box;
}
#mail .mail-form input[type="reset"],
#mail .mail-form input[type="submit"] {
  width: 50%;
  height: 60px;
  padding: 0;
  border-radius: 30px;
  line-height: 60px;
  font-size: var(--fz20);
  font-weight: bold;
  text-align: center;
}
#mail .mail-form input:focus,
#mail .mail-form textarea:focus {
  background-color: var(--color-base-light);
}
@media (hover: hover) and (pointer: fine) {
  /*ホバーアクションはPCのみ適用*/
  #mail .mail-form input[type="reset"]:hover,
  #mail .mail-form input[type="submit"]:hover {
    opacity: 0.7;
    transition: 0.3s;
  }
}
#mail .mail-form input[type="reset"] {
  background: var(--color-white);
  color: var(--color-main);
  border: 1px solid var(--color-main);
  width: 38%;
}
#mail .mail-form input[type="submit"] {
  background: var(--color-main);
  color: var(--color-white);
  width: 60%;
}
#mail .mail-form .btn-wrap {
  display: flex;
  padding: 0 0 30px;
  justify-content: space-between;
}
#mail .mail-form label.btn-file {
  display: block;
  color: var(--color-main);
  font-weight: bold;
  font-size: var(--fz18);
  background: var(--color-white);
  border: 1px solid var(--color-main);
  border-radius: 30px;
  max-width: 240px;
  text-align: center;
  transition: 0.3s;
  cursor: pointer;
  height: 60px;
  line-height: 60px;
  width: 240px;
}
#mail .mail-form .btn-file {
  /* 「選択されていません（選択後はファイル名）」のスタイル */
  font-size: var(--fz14);
}
#mail .mail-form .btn-file::file-selector-button {
  /* 「ファイルを選択」ボタンのスタイル */
  font-size: var(--fz16);
  font-weight: bold;
  color: var(--color-main);
  background: var(--color-white);
  border: 1px solid var(--color-main);
  border-radius: 30px;
  height: 60px;
  text-align: center;
  padding: 0 30px;
  cursor: pointer;
}
@media (hover: hover) and (pointer: fine) {
  /*ホバーアクションはPCのみ適用*/
  #mail .mail-form .btn-file::file-selector-button:hover {
    opacity: 0.7;
    transition: 0.3s;
  }
}
/* -----for PC----- */
@media screen and (min-width: 901px) {
  #mail .mail-form table.formTable tr {
    flex-direction: row;
  }
  #mail .mail-form table.formTable th {
    width: 22%;
  }
  #mail .mail-form table.formTable td {
    width: 78%;
  }
}
/* プライバシーポリシー */
#mail .privacy-policy {
  padding: 30px 15px 60px;
  margin: 0 auto;
  max-width: 1000px;
}
#mail .privacy-policy .ttl {
  font-weight: bold;
  margin-bottom: 30px;
}
#mail .privacy-policy ol,
#mail .privacy-policy ul {
  padding-left: 1.5rem;
}
#mail .privacy-policy ol li {
  list-style: decimal;
}
#mail .privacy-policy ul li {
  list-style: disc;
}
/*-------------------------------------------
line.html
-------------------------------------------*/
#line .contact-line .line-detail {
  padding: 15px 15px 0;
  margin: 0 auto;
  max-width: 1000px;
}
#line .contact-line .lead-line-friend {
  font-weight: bold;
  text-align: center;
  margin-top: 15px;
}
#line .contact-line .lead-line-friend span {
  font-size: 1.5em;
}
#line .contact-line .lead-line-friend::before,
#line .contact-line .lead-line-friend::after {
  content: "";
  display: inline-block;
  height: 40px;
  width: 30px;
}
#line .contact-line .lead-line-friend::before {
  clip-path: polygon(12% 32%, 85% 100%, 20% 22%);
  /* 鈍角三角形 */
  background: var(--color-main);
}
#line .contact-line .lead-line-friend::after {
  clip-path: polygon(12% 32%, 85% 100%, 20% 22%);
  /* 鈍角三角形 */
  background: var(--color-main);
  transform: rotateY(180deg);
}
/* 友だち追加ボタン */
#line .btn-line-friend {
  padding: 15px;
  max-width: 460px;
  margin: 0 auto;
}
#line .btn-line-friend a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  font-size: 1.6875rem; /* 27px */
  font-weight: bold;
  text-align: center;
  line-height: 75px;
  border-radius: 15px;
  background: var(--color-line);
}
#line .btn-line-friend a::before {
  content: "";
  background: url(../img/ico_line.png) no-repeat center center;
  width: 75px;
  height: 75px;
  background-size: 75px 75px;
}
/* QRコード */
#line .qr-code {
  /* SPでは非表示 */
  display: none;
}
@media screen and (min-width: 901px) {
  #line .contact-line .line-detail {
    text-align: center;
  }
  #line .qr-code {
    /* PCでは非表示 */
    display: block;
    margin: 0 auto;
    width: 200px;
  }
}
/*-------------------------------------------
flow.html
-------------------------------------------*/
#flow .step-contents {
  max-width: 1000px;
  padding: 0 15px 50px;
  margin: 0 auto;
}
#flow .step-container {
  margin-left: 25px;
}
#flow .step-container .ttl {
  font-size: var(--fz20);
  font-weight: bold;
  display: flex;
  align-items: center;
  background: var(--color-base-light);
  height: 36px;
}
#flow .step-container .ttl .order {
  background: var(--color-main);
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  margin-left: -20px;
}
#flow .step-container .ttl .label {
  margin-left: 15px;
  display: block;
}
#flow .step-container .ttl span {
  font-size: 0.66em;
  font-weight: normal;
  color: var(--color-white);
  background-color: var(--color-point);
  padding: 2px 5px;
  margin-left: 3px;
}
#flow .step-container .detail {
  padding: 15px 0 15px 35px;
  border-left: 5px dotted var(--color-main);
  display: flex;
  justify-content: space-between;
}
#flow .step-container .detail p {
  width: 70%;
}
#flow .step-container .detail .img-step {
  min-width: 112px;
  margin-left: 10px;
  width: 30%;
}
#flow .step-container.step5 .detail {
  border-left: none;
}
#flow .step-container.step5 .detail p {
  width: 100%;
}
/*-------------------------------------------
price.html
-------------------------------------------*/
/*----- 標準工事費 -----*/
#price .price-normal {
  padding-bottom: 60px;
}
#price .category-ttl {
  text-align: center;
  font-weight: bold;
  color: var(--color-main);
  padding: 40px 0 20px;
}
#price .category-wrap {
  margin: 0 auto;
  max-width: 1000px;
}
#price .category {
  margin: 0 auto;
}
#price .price-table {
  padding: 0 15px;
}
#price .price-table .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
  border-bottom: 1px solid #ccc;
}
#price .price-table .row div {
  display: flex;
  align-items: center;
  justify-content: center;
}
#price .price-table .row div:not(:first-of-type) {
  margin-left: 5px;
}
#price .price-table .row .price {
  color: var(--color-price);
  font-weight: bold;
}
#price .price-table .row .price span {
  font-weight: normal;
  font-size: 0.625rem;
}
#price .price-table .row .price span > span {
  color: #666;
}
/* 標準工事費テーブル */
#price .price-table.normal .row div:nth-of-type(1) {
  flex-basis: 15%;
}
#price .price-table.normal .row div:nth-of-type(1) img {
  max-height: 50px;
}
#price .price-table.normal .row div:nth-of-type(2) {
  flex-basis: 25%;
}
#price .price-table.normal .row div:nth-of-type(2) img {
  max-height: 15px;
}
#price .price-table.normal .row div:nth-of-type(3) {
  flex-basis: 30%;
}
#price .price-table.normal .row div:nth-of-type(4) {
  flex-basis: 35%;
}
/*----- 追加工事費 -----*/
#price .price-additional {
  padding-bottom: 60px;
}
#price .price-additional .wrap {
  margin: 0 auto;
  max-width: 1000px;
}
/* 追加工事費テーブル */
#price .price-table.additional .row div:nth-of-type(1) {
  flex-basis: 70%;
  justify-content: normal;
}
#price .price-table.additional .row div:nth-of-type(2) {
  flex-basis: 30%;
}
/* -----for PC----- */
@media screen and (min-width: 901px) {
  #price .category-ttl {
    font-size: var(--fz20);
  }
  #price .price-table.additional .row {
    padding-left: 30px;
  }
  #price .price-table.normal .row div:nth-of-type(2) img {
    height: 40px;
  }
  #price .price-table .row .price {
    font-size: var(--fz22);
  }
  #price .price-table .row .price span {
    font-size: 0.75rem;
  }
}
/*-------------------------------------------
company.html
-------------------------------------------*/
#company .info-list {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px 50px;
}
#company .info-list dt {
  font-weight: bold;
  padding: 30px 0 5px;
}
#company .info-list dd {
  border-bottom: 1px solid #ccc;
  padding: 5px 0 30px;
}
/* -----for PC----- */
@media screen and (min-width: 901px) {
  #company .info-list dl {
    display: flex;
    flex-wrap: wrap;
  }
  #company .info-list dt,
  #company .info-list dd {
    padding: 30px 0;
    display: inline-block;
    border-bottom: 1px solid #ccc;
  }
  #company .info-list dt {
    width: 30%;
  }
  #company .info-list dd {
    width: 70%;
  }
}
/*-------------------------------------------
area.html
-------------------------------------------*/
#area .area-list dl {
  padding: 0 15px 60px;
  max-width: 1000px;
  margin: 0 auto;
}
#area .area-list dt {
  font-weight: bold;
  color: var(--color-main);
  padding: 30px 0 5px;
  font-size: var(--fz20);
}
#area .area-list dd {
  padding: 15px 0;
}
/* -----for PC----- */
@media screen and (min-width: 901px) {
  #area .area-list dl {
    display: flex;
    flex-wrap: wrap;
  }
  #area .area-list dt,
  #area .area-list dd {
    padding: 30px 15px;
    display: inline-block;
  }
  #area .area-list dt {
    width: 30%;
    text-align: right;
  }
  #area .area-list dd {
    width: 70%;
  }
}

.contact-tel {
	
}
