@charset "UTF-8";
/* -----------------------------------------------------------

ジモデンTOPページ

----------------------------------------------------------- */
/* 業者を探すボタン */
.btn-to-search-container {
  padding-top: 60px;
  max-width: 564px;
  margin: 0 auto;
  z-index: 30;
}
@media (max-width: 767px) {
  .btn-to-search-container {
    padding-top: 30px;
  }
}
/* もっと見るボタン */
.btn-to-more-container {
  padding-top: 30px;
  max-width: 564px;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .btn-to-more-container {
    padding-top: 10px;
  }
}
/* sectionタイトル */
.section .sub-title {
  display: flex;
  align-items: baseline;
  justify-content: center;
}
.section .sub-title .sub-heading {
  font-size: clamp(var(--fz16), 0.775rem + 0.96vw, var(--fz22));
  font-weight: bold;
  letter-spacing: 0.05em;
  margin-left: 10px;
}
.section .sub-title .small-logo {
  width: 92px;
}
.section .main-title {
  font-weight: bold;
  color: var(--color-main);
  text-align: center;
  letter-spacing: 0.1em;
  font-size: 1em;
  font-size: clamp(var(--fz32), 1.475rem + 2.24vw, var(--fz46));
}
/* メインビジュアル
---------------------------------*/
.mainvisual {
  padding: 60px 0 20px;
  background: url(../../assets/img/bg_townscape.png) no-repeat center bottom / contain;
  text-align: center;
}
.mainvisual .wrapper {
  padding: 0 10px;
}
.mainvisual .mv-title {
  text-align: center;
  font-size: clamp(var(--fz18), 0.825rem + 1.28vw, var(--fz26));
  font-weight: bold;
  letter-spacing: 0.1em;
}
.mainvisual .mv-title .highlight {
  font-size: 1.5em;
}
.mainvisual .mv-logo {
  width: 370px;
  max-width: 70%;
  margin: 35px auto 0;
}
.mainvisual .mv-lead {
  font-size: clamp(var(--fz14), 0.575rem + 1.28vw, var(--fz22));
  font-weight: 555;
  margin: 75px 0 0;
  letter-spacing: 0.1em;
  position: relative;
  display: inline-block;
}
.mainvisual .mv-lead::before {
  content: "";
  position: absolute;
  left: -25px;
  bottom: 30%;
  transform: translateY(-50%) rotate(45deg); /* 斜め線にする */
  width: 55px;
  height: 2px;
  background-color: var(--color-main); /* 線の色 */
}
.mainvisual .mv-lead::after {
  content: "";
  position: absolute;
  right: -25px;
  bottom: 30%;
  transform: translateY(-50%) rotate(-45deg); /* 斜め線にする */
  width: 55px;
  height: 2px;
  background-color: var(--color-main); /* 線の色 */
}
/* for SP */
@media (max-width: 767px) {
  .mainvisual {
    background-size: 130%;
    padding-top: 30px;
  }
  .mainvisual .mv-logo {
    margin-top: 20px;
  }
  .mainvisual .mv-lead {
    margin-top: 30px;
  }
}
/*--- ３つのポイント ---*/
.mv-3points {
  display: flex; /* 横並びにする */
  justify-content: space-evenly;
  margin: 30px 0 0;
}

.mv-3points li {
  display: flex;
  flex-direction: column; /* テキストを縦方向に並べる */
  justify-content: center;
  align-items: center;
  width: clamp(7rem, 30vw, 17.5rem); /* 最小112px, 推奨10vw, 最大280px */
  height: clamp(7rem, 30vw, 17.5rem); /* 幅と同様に高さもclampで指定 */
  border: clamp(3px, 0.5vw, 6px) solid var(--color-main);
  border-radius: 50%; /* 円形にする */
  text-align: center;
  box-sizing: border-box;
  font-size: clamp(var(--fz15), 0.15rem + 3.36vw, var(--fz36));
  font-weight: bold;
  line-height: 1.4;
  background-color: #fff;
}
/* 対応電気工事
---------------------------------*/
.service-types {
  background: var(--color-base);
  padding: 60px 0 90px;
}
.service-types .wrapper {
  max-width: 1200px;
}
.service-types .service-types-title {
  text-align: center;
  font-weight: bold;
  font-size: clamp(var(--fz18), 0.45rem + 2.88vw, var(--fz36));
  letter-spacing: 0.05em;
}
.service-types .service-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}
.service-types .service-list li {
  flex: 1 1 12.5%; /* 通常時は1行に8個 (12.5% x 8 = 100%) */
  padding: 10px 0;
  text-align: center;
}
/* レスポンシブ対応f */
@media (max-width: 767px) {
  .service-types {
    padding: 30px 0 50px;
  }
  .service-types .service-list li {
    flex: 1 1 25%; /* 1行に4個ずつ (25% x 4 = 100%) */
  }
}
/* お悩みと解決
---------------------------------*/
.problem-and-solution {
  padding: 60px 0;
}
.problem-and-solution .problem-title {
  font-size: clamp(var(--fz20), 0.65rem + 2.56vw, var(--fz36));
  font-weight: bold;
  text-align: center;
  padding-bottom: 30px;
}
.problem-and-solution .solution-title {
  font-size: clamp(var(--fz26), 0.875rem + 3.2vw, var(--fz46));
  font-weight: bold;
  text-align: center;
  position: relative;
  margin-top: 4px;
  color: var(--color-main);
  letter-spacing: 0.1em;
}
.problem-and-solution .solution-title::before {
  content: "";
  display: block;
  background: url(../img/ico_deco.svg) no-repeat center center;
  height: 51px;
  width: 15px;
  top: -50px;
  bottom: 50%;
  right: 50%;
  left: 50%;
  background-size: contain;
  margin: 0 auto;
}
.problem-and-solution .solution-text {
  font-size: clamp(var(--fz16), 0.775rem + 0.96vw, var(--fz22));
  font-weight: 555;
  line-height: 2em;
  text-align: center;
  margin-top: 20px;
}
@media (max-width: 767px) {
  .problem-and-solution {
    padding: 50px 0;
  }
  .problem-and-solution .solution-title::before {
    height: 32px;
    width: 10px;
  }
}
/* ジモデン3つの特徴
---------------------------------*/
.sec-features {
  background: var(--color-base);
  padding: 90px 0;
}
.sec-features .wrapper {
  max-width: 1200px;
}
.sec-features .features-list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 30px;
}
.sec-features .feature-item {
  flex: 1;
  background-color: white;
  padding: 20px 30px 40px;
  position: relative;
  border-radius: 15px;
}
/* 番号 (左上に直角三角形を作成) */
.sec-features .feature-number-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-top: 60px solid var(--color-main); /* 三角形の背景色 */
  border-right: 60px solid transparent;
  border-radius: 15px 0 0 0; /* 左上の角を丸める */
}
/* 番号のテキストを三角形の中央に表示 */
.sec-features .feature-number {
  position: absolute;
  top: 3px;
  left: 13px;
  color: white;
  font-size: var(--fz20);
  font-weight: bold;
}
/* 見出し */
.sec-features .feature-title {
  /* margin: 20px 0; */
  font-size: clamp(var(--fz22), 1.3rem + 0.32vw, var(--fz24));
  font-weight: bold;
  color: var(--color-main);
  text-align: center;
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* 横長画像 */
.sec-features .feature-item img {
  width: 100%;
  height: auto;
  /* border-radius: 10px; */
}
.sec-features .feature-item .feature-text {
  margin-top: 15px;
  font-weight: 555;
  text-align: justify;
}
/* レスポンシブ対応 */
@media (max-width: 900px) {
  .sec-features {
    padding: 50px 0;
  }
  .sec-features .features-list {
    flex-direction: column;
  }
}
/* 料金例
---------------------------------*/
.sec-price-example {
  padding: 90px 0;
}
.sec-price-example .price-example {
  width: 100%;
  margin: 20px 0;
}
.sec-price-example .example-table {
  width: 100%;
  border-collapse: collapse;
}
.sec-price-example .example-table tr {
  display: flex;
  align-items: center;
  padding: 20px 0;
  border-bottom: 2px dotted #aaa;
}
.sec-price-example .example-table td {
  text-align: left;
  font-size: clamp(var(--fz16), 0.625rem + 1.6vw, var(--fz26));
  font-weight: bold;
  box-sizing: border-box;
}
.sec-price-example .example-table td:nth-of-type(1) {
  flex: 0 1 15%;
  text-align: center;
}
.sec-price-example .example-table td:nth-of-type(2) {
  flex: 1 0 40%;
  padding-left: 10px;
}
.sec-price-example .example-table td:nth-child(3) {
  line-height: 1.5em;
  flex: 1 1 42%;
}
.sec-price-example .service-img {
  width: 100%;
  max-width: 110px;
  min-width: 50px;
}
.sec-price-example .price-label {
  font-size: 1.5em;
}
.sec-price-example .price-text {
  font-size: clamp(var(--fz16), 0.775rem + 0.96vw, var(--fz22));
  font-weight: 555;
  line-height: 2em;
  margin-top: 50px;
  width: fit-content;
  margin-inline: auto;
}
@media (max-width: 767px) {
  .sec-price-example {
    padding: 50px 0;
  }
  .sec-price-example .example-table td:nth-child(3) {
    text-align: center;
  }
}
/* 工事までの流れ
---------------------------------*/
.sec-flow {
  background: var(--color-base);
  padding: 90px 0 120px;
}
.sec-flow .service-flow {
  list-style-type: none;
  padding-left: 0;
  position: relative;
  text-align: left;
  margin-top: 60px;
  counter-reset: flow-step; /* counter の初期化 */
}
.sec-flow .service-flow li {
  position: relative;
  padding: 30px;
  background-color: white;
  border-radius: 15px;
  padding-left: 60px;
  margin-left: 25px;
}
.sec-flow .service-flow li:not(:last-child) {
  margin-bottom: 40px;
}
.sec-flow .service-flow li::before {
  content: counter(flow-step); /* カウンターの値を表示 */
  counter-increment: flow-step; /* カウンターを1つずつ増やす */
  position: absolute;
  left: -25px;
  top: 50%;
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  background-color: var(--color-main);
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--fz20);
  font-weight: bold;
}
/* リスト項目の間に横長の赤い▼を表示 */
.sec-flow .service-flow li:not(:last-child)::after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid var(--color-main);
}
.sec-flow .service-flow .label {
  font-size: clamp(var(--fz20), 1.1rem + 0.64vw, var(--fz24));
  font-weight: bold;
  color: var(--color-main);
  letter-spacing: 0.1em;
}
.sec-flow .service-flow .label span {
  background: var(--color-text);
  color: white;
  font-size: 0.66em;
  padding: 0 3px;
  margin-left: 8px;
  letter-spacing: 0;
  font-weight: normal;
  line-height: 1.4em;
  word-break: keep-all;
}
.service-flow .detail {
  margin: 10px 0 0;
  text-align: justify;
}
@media (max-width: 767px) {
  .sec-flow {
    padding: 50px 0 120px;
  }
}
