@charset "UTF-8";
/* -----------------------------------------------------------

事業者を探すページ

----------------------------------------------------------- */
.search-container {
  background: var(--color-base);
  padding: 60px 0 150px;
}
/* 戻るリンク */
.search-container .back-link {
  text-decoration: underline;
  color: var(--color-main);
  position: relative;
  padding-left: 2em;
  bottom: -30px;
}
.search-container .back-link::before {
  content: "";
  display: inline-block;
  height: 1.5em;
  width: 1.5em;
  mask: url(../../assets/img/arrow_left.svg) no-repeat center / contain;
  background-color: var(--color-main);
  position: absolute;
  left: 0;
}
.search-container .ttl {
  font-size: var(--fz20);
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}
.search-container .ttl-sub {
  font-size: var(--fz16);
  font-weight: bold;
  text-align: center;
}
/* 地域ブロック */
.search-container .search-area {
  padding: 20px 0 30px;
  text-align: center;
  border-top: 1px solid var(--color-main);
}
/* 地域のタイトル */
.search-container .area-ttl {
  font-weight: bold;
  margin: 0 0 1em;
  color: var(--color-main);
  font-size: var(--fz20);
}
/* 都道府県リスト */
.search-container .area-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  width: fit-content;
  margin: 0 auto;
}
.search-container .area-list li {
  font-weight: bold;
}
.search-container .area-list a,
.search-container .area-list span {
  padding: 0.3em 0.75em;
  border-radius: 999px;
  border: 2px solid var(--color-main);
  display: block;
}
/* リンク */
.search-container .area-list a {
  background: white;
  color: var(--color-main);
}
/* 非リンク */
.search-container .area-list span {
  background: #ddd;
  border-color: #bbb;
  color: #999;
}
@media screen and (max-width: 767px) {
  .search-container {
    padding-top: 30px;
  }
}
