@charset "UTF-8";
/*-------------------------------------------

bath-fan用css

-------------------------------------------*/

/*-------------------------------------------
content
-------------------------------------------*/
.content {
  position: relative; /* 相対位置指定 */
  overflow: hidden; /* スクロールバーを非表示に */
}
/*
換気扇交換にいくらかかかる？
-------------------------------------------*/
.sec-intro {
  position: relative;
  margin-top: 90px;
  background: var(--color-base);
  /* text-align: center; */
  padding-top: 30px;
}
.sec-intro .sec-title,
.sec-intro .sec-num {
  color: var(--color-main);
}
.sec-intro .sec-num {
  background-color: var(--color-base);
  text-align: center;
}
.sec-intro .text span {
  font-weight: bold;
}
.sec-intro .flex {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.sec-intro dl {
  background: white;
  padding: 20px;
  border-radius: 30px;
  text-align: center;
  width: 44%;
  font-weight: bold;
  max-width: 440px;
}
.sec-intro dt {
  color: var(--color-main);
  margin-bottom: 10px;
  font-size: clamp(1.5rem, 1.25rem + 1.11vw, 1.875rem);
}
.sec-intro .plus {
  margin: 0 15px;
  color: var(--color-main);
  font-size: clamp(1.5rem, 1.25rem + 1.11vw, 1.875rem);
  font-weight: bold;
  display: flex;
  align-items: center;
}
.sec-intro .note {
  padding: 30px 30px 60px;
  font-size: var(--fz14);
  text-indent: -0.875rem;
  text-align: left;
  color: #666;
}
.sec-intro .bottom {
  position: relative;
  background: white;
  text-align: center;
}
.sec-intro .bottom p {
  padding: 50px 15px;
  font-weight: 600;
}
.sec-intro .bottom span {
  color: var(--color-main);
  font-weight: bold;
}
/*三角形*/
.sec-intro .bottom::after {
  content: "";
  position: absolute;
  top: -18px;
  left: calc(50% - 36px);
  width: 0;
  height: 0;
  border-left: 36px solid transparent;
  border-right: 36px solid transparent;
  border-top: 35px solid #7dd8e7;
}
/* for PC
-------------------*/
@media screen and (min-width: 901px) {
  .sec-intro .text,
  .sec-intro .note {
    text-align: center;
  }
}
/*
自宅の換気扇のタイプを知ろう
-------------------------------------------*/
.sec-type {
  position: relative;
  margin-top: 30px;
  padding: 30px 0 96px;
  background: url(../assets/img/bg-dot.gif);
  text-align: center;
}
.sec-type .sec-title,
.sec-type .sec-num {
  color: white;
}
.sec-type .unit-type {
  position: relative;
  margin-top: 60px;
  background: white;
  border-radius: 30px;
  padding: clamp(1.875rem, 1.023rem + 3.64vw, 3.75rem);
}
.sec-type .unit-type.kodate {
  /* 戸建てunitの下の余白 */
  margin-bottom: 60px;
}
.sec-type .unit-type::before {
  content: "";
  position: absolute;
  display: block;
  width: 58px;
  height: 44px;
  top: -43px;
  left: calc(50% - 29px);
  margin: auto;
}
.sec-type .unit-type.kodate::before {
  background: url(../assets/img/ico-kodate.png) no-repeat center 0;
  background-size: contain;
}
.sec-type .unit-type.mansion::before {
  background: url(../assets/img/ico-mansion.png) no-repeat center 0;
  background-size: contain;
}
.sec-type .sub-title {
  color: var(--color-main);
  font-size: clamp(1.25rem, 1.084rem + 0.74vw, 1.5rem);
  font-weight: bold;
}
.sec-type .type-name {
  background: #00afcc;
  color: white;
  font-weight: bold;
  margin-top: 40px;
  line-height: 2;
}
.sec-type .description {
  text-align: left;
  margin-top: 30px;
}
.sec-type .description span {
  color: var(--color-main);
  font-weight: bold;
}
.sec-type .unit-type .inst-type {
  font-weight: bold;
  margin-top: 30px;
}
.sec-type .unit-type .type-image {
  margin: 30px auto 0;
  object-fit: contain;
}
.sec-type .goto-price {
  position: relative;
  display: block;
  padding: 10px 10px 10px 0px;
  margin: 30px auto 0;
  color: var(--color-main);
  font-weight: bold;
  border: 1px solid var(--color-main);
  border-radius: 100px;
  line-height: 2.4;
  width: 100%;
  max-width: 500px;
}
.sec-type .goto-price::after {
  content: "";
  background: url(../assets/img/arrow-down.svg) no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  top: calc(50% - 8px);
  right: clamp(0.5rem, 0.045rem + 1.94vw, 1.5rem);
}
@media (hover: hover) and (pointer: fine) {
  /*ホバーアクションはPCのみ適用*/
  .sec-type .goto-price:hover {
    background: var(--color-main);
    color: white;
  }
  .sec-type .goto-price:hover::after {
    background: url(../assets/img/arrow-down-white.svg) no-repeat;
  }
}
/* 要注意ポイント */
.sec-type .cmn-alert .image {
  margin-top: 30px;
}
.sec-type .cmn-alert .text {
  margin-top: 30px;
}
/* for PC
-------------------*/
@media screen and (min-width: 901px) {
  .sec-type .unit-type .type-image {
    max-width: 600px;
  }
}
/*
換気扇タイプ別標準工事費
-------------------------------------------*/
.sec-standard-cost {
  position: relative;
  margin-top: 0;
  padding: 30px 0 106px;
  background: var(--color-base);
  text-align: center;
}
.sec-standard-cost .sec-title,
.sec-standard-cost .sec-num {
  background: var(--color-base);
  color: var(--color-main);
}
.sec-standard-cost .standard-cost-outer .sub-title-bg {
  background: var(--color-main);
  color: white;
  padding: 15px;
  border-radius: 30px 30px 0 0;
}
.sec-standard-cost .standard-cost-outer .sub-title {
  font-weight: bold;
  font-size: var(--fz20);
}
.sec-standard-cost .standard-cost-outer .sub-title-type {
  font-size: var(--fz14);
}
.sec-standard-cost .standard-cost-outer .sub-container {
  background: white;
  border-radius: 0 0 30px 30px;
  padding: clamp(0.938rem, 0.511rem + 1.82vw, 1.875rem);
  padding-top: 60px;
}
.sec-standard-cost .standard-cost-outer .sub-container-photo {
  max-width: 600px;
  margin: 0 auto;
}
.sec-standard-cost .standard-cost-outer .case-title {
  font-size: var(--fz20);
  color: var(--color-main);
  margin: 60px 0 15px;
  font-weight: bold;
}
.sec-standard-cost .standard-cost-outer .sub-container-range {
  font-size: clamp(1rem, 0.886rem + 0.48vw, 1.25rem);
  font-weight: bold;
  margin-top: 15px;
}
.sec-standard-cost .standard-cost-outer .sub-container-range span {
  color: var(--color-alert);
  font-size: 1.5em;
}
.sec-standard-cost .standard-cost-outer .item-list {
  margin: 15px auto 0;
}
.sec-standard-cost .standard-cost-outer .item-list .item-card {
  display: flex;
  justify-content: center;
  border: 1px solid #ccc;
  position: relative;
  font-weight: bold;
  padding: 20px;
  column-gap: 15px;
}
.sec-standard-cost .standard-cost-outer .item-list .item-card:not(:first-child) {
  margin-top: 20px;
}
.sec-standard-cost .standard-cost-outer .item-card .share {
  position: absolute;
  top: 15px;
  left: 15px;
  color: white;
  border-radius: 50px;
  padding: 4px 7px;
}
.sec-standard-cost .standard-cost-outer .item-card .share.high {
  background: var(--color-main);
}
.sec-standard-cost .standard-cost-outer .item-card .share.low {
  background: #ccc;
}
.sec-standard-cost .standard-cost-outer .item-card .fan-type {
  position: absolute;
  top: 15px;
  left: 15px;
}
.sec-standard-cost .standard-cost-outer .item-card .fan-type span {
  color: var(--color-alert);
}
.sec-standard-cost .standard-cost-outer .item-card .photo {
  margin-top: 40px;
  max-height: 200px;
  object-fit: contain;
}
.sec-standard-cost .standard-cost-outer .item-card .item-card-photo {
  width: 50%;
}
.sec-standard-cost .standard-cost-outer .item-card .item-card-detail {
  text-align: center;
  padding-top: 26px;
}
.sec-standard-cost .standard-cost-outer .item-card .serial-num {
  font-size: clamp(1.25rem, 1.084rem + 0.74vw, 1.5rem);
  color: #666;
  white-space: nowrap;
}
.sec-standard-cost .standard-cost-outer .item-card .brand-logo {
  width: 130px;
}
.sec-standard-cost .standard-cost-outer .item-card .label {
  font-size: var(--fz14);
  margin: 10px 0 -7px;
}
.sec-standard-cost .standard-cost-outer .item-card .item-price {
  font-size: clamp(1rem, 0.886rem + 0.48vw, 1.25rem);
}
.sec-standard-cost .standard-cost-outer .item-card .item-price span {
  color: var(--color-alert);
  font-size: 1.5em;
}
@media screen and (min-width: 901px) {
  .sec-standard-cost .standard-cost-outer .item-list {
    display: flex;
    justify-content: space-around;
    max-width: none;
    padding: 0 30px 0;
  }
  .sec-standard-cost .standard-cost-outer .item-list .item-card {
    flex-direction: column;
    width: 32%;
  }
  .sec-standard-cost .standard-cost-outer .item-card .item-card-photo {
    width: 100%;
  }
  .sec-standard-cost .standard-cost-outer .item-card .photo {
    height: 200px;
    object-fit: contain;
  }
  .sec-standard-cost .standard-cost-outer .item-list .item-card:not(:first-child) {
    margin-top: 0;
  }
}
/*---------- 単独換気扇 ----------*/
.sec-standard-cost .standard-cost-outer.single {
  /* アンカーリンクがヘッダーに隠れないよう調整 */
  padding-top: 90px;
  margin-top: -90px;
}
/* 単独換気扇 > 要注意ポイント */
.sec-standard-cost .standard-cost-outer.single .cmn-alert .case-ttl {
  font-weight: bold;
  margin-top: 30px;
}
.sec-standard-cost .standard-cost-outer.single .cmn-alert .case-text {
  margin-top: 15px;
  text-align: left;
}
.sec-standard-cost .standard-cost-outer.single .cmn-alert .case-img {
  margin: 25px auto 0;
  display: block;
  max-width: 470px;
}
.sec-standard-cost .standard-cost-outer.single .cmn-alert .case-text span {
  font-weight: bold;
  color: var(--color-main);
}
.sec-standard-cost .standard-cost-outer.single .cmn-alert .case-ps {
  margin-top: 20px;
  overflow: hidden; /*float解除*/
}
.sec-standard-cost .standard-cost-outer.single .cmn-alert .case-ps .case-ps-img {
  float: left;
  width: 50%;
  margin-right: 15px;
}
.sec-standard-cost .standard-cost-outer.single .cmn-alert .case-ps .case-ps-text {
  font-size: clamp(0.875rem, 0.759rem + 0.52vw, 1.05rem);
  text-align: left;
}
@media screen and (min-width: 901px) {
  .sec-standard-cost .standard-cost-outer.single .cmn-alert .case-list {
    display: flex;
    justify-content: space-between;
  }
  .sec-standard-cost .standard-cost-outer.single .cmn-alert .case {
    width: 48%;
  }
  .sec-standard-cost .standard-cost-outer.single .cmn-alert .case2 {
    margin-top: 0;
  }
}
/*---------- 2室3室換気扇 ----------*/
.sec-standard-cost .standard-cost-outer.multi {
  /* アンカーリンクがヘッダーに隠れないよう調整 */
  padding-top: 90px;
  margin-top: -30px;
}
.sec-standard-cost .standard-cost-outer.multi .sub-container {
  padding-top: 1px;
}
.sec-standard-cost .standard-cost-outer.multi .sub-container .column {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 901px) {
  .sec-standard-cost .standard-cost-outer.multi .sub-container .column {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }
  .sec-standard-cost .standard-cost-outer.multi .sub-container .block-image {
    height: 160px;
    object-fit: contain;
  }
}
/*---------- 中間ダクト ----------*/
.sec-standard-cost .standard-cost-outer.duct {
  /* アンカーリンクがヘッダーに隠れないよう調整 */
  padding-top: 90px;
  margin-top: -30px;
}
.sec-standard-cost .standard-cost-outer.duct .text {
  margin-top: 30px;
  text-align: left;
}
.sec-standard-cost .standard-cost-outer.duct .text > span {
  color: var(--color-main);
  font-weight: bold;
}
/* 中間ダクト > 要注意ポイント */
.sec-standard-cost .standard-cost-outer.duct .cmn-alert .image {
  margin: 25px auto 0;
  display: block;
  max-width: 470px;
}
.sec-standard-cost .standard-cost-outer.duct .cmn-alert .text {
  margin-top: 15px;
  text-align: left;
}
@media screen and (min-width: 901px) {
  .sec-standard-cost .standard-cost-outer.duct .item-list .item-card {
    width: 50%;
  }
}
/*
どんな時に追加工事が必要？
-------------------------------------------*/
.sec-addon-cost {
  position: relative;
  margin-top: 0;
  padding: 30px 0 106px;
  background: white;
}
.sec-addon-cost .sec-title,
.sec-addon-cost .sec-num {
  background: white;
  color: var(--color-main);
  text-align: center;
}
.sec-addon-cost .addon-cost-case {
  background: #eee;
  padding: clamp(1.875rem, 1.023rem + 3.64vw, 3.75rem);
  border-radius: 30px;
  margin-top: 20px;
  text-align: center;
}
.sec-addon-cost .case-num {
  color: var(--color-main);
  display: inline;
  font-weight: bold;
}
.sec-addon-cost .case-num::after {
  content: "";
  height: 2px;
  width: 32px;
  background-color: var(--color-main);
  display: block;
  margin: 4px auto 0;
}
.sec-addon-cost .case-title {
  font-size: clamp(1.125rem, 0.975rem + 0.67vw, 1.35rem);
  font-weight: bold;
  margin-top: 25px;
}
.sec-addon-cost .case-image {
  margin-top: 25px;
}
.sec-addon-cost .case-description {
  margin-top: 30px;
  text-align: left;
}
.sec-addon-cost .addon-cost-price {
  margin-top: 35px;
}
.sec-addon-cost .addon-cost-price .addon-cost-label {
  font-weight: bold;
}
.sec-addon-cost .addon-cost-price .addon-cost-amount {
  font-weight: bold;
  font-size: var(--fz20);
}
.sec-addon-cost .addon-cost-price .addon-cost-amount span {
  color: var(--color-alert);
  font-size: 1.8em;
}
